[2018-11-20 09:56] MaxDesiatov opened #3 "Correctly handle parsing errors in `XMLStackParser`"
Currently there's a single use of `print` in the codebase for printing an error [here](https://github.com/MaxDesiatov/XMLCoder/blob/master/Sources/XMLCoder/XMLStackParser.swift#L334). I'm not sure that the error is correctly propagated outside to users of `XMLCoder`, this needs to be changed to correctly use `throw`.

[2018-11-25 16:41] HerrDoktorBD opened #10 "Extra level of indirection?"
Moving away from **JSONModel** and **NSXMLParser** (Objective-c) in my app to **Decodable** makes this library very handy. Thank you for forking and maintaining it.

I have a **Goodreads XML** response which I'm decoding with **XMLCoder**.  That works great.

[goodreads.xml.txt](https://github.com/MaxDesiatov/XMLCoder/files/2613246/goodreads.xml.txt)
[Goodreads.swift.txt](https://github.com/MaxDes

[2018-12-02 19:37] qmoya opened #12 "Can’t reach an XML value"
Hi there! I can’t find the right data structure to decode the following XML string:

    <something name="Some name">Some value</something>

I ran out of ideas. May anyone give me a hint?

Thanks!

[2018-12-03 11:24] MaxDesiatov opened #13 "Report error context with a customisable length"
As reported in MaxDesiatov/CoreXLSX#12 there are multiple issues where it's hard to understand why parsing of a certain XML has failed. `XMLCoder` should be able to report a snippet of a given XML of specified length around the position where the error has happened. This should be an property of type `Int?` named `errorContextLength` on `XMLDecoder` instance. An error thrown from XML parser that h

[2018-12-08 19:10] galli-leo commented on #10
I have the same issue with the following xml snippet:

[code]

Seems like this pr could fix it: https://github.com/ShawnMoore/XMLParsing/pull/29

[2018-12-14 10:15] MaxDesiatov opened #15 "Investigate XML decoding in RJI test case"
Currently RJI RSS test case is able to decode the cleaned up XML successfully (multiple "author" elements were removed to be investigated later). The main problem is that when RJI value is encoded it can't be decoded back again without errors, there were attempts to add this to the test with [this commented code](https://github.com/MaxDesiatov/XMLCoder/blob/7e13f4bd5407b83408bc6fc86b9aa31a155b53ce

[2018-12-14 10:20] MaxDesiatov opened #16 "Generate and publish Jazzy docs"
XMLCoder should have publicly visible docs for its API. First option to consider for auto-generated docs is [Jazzy](https://github.com/realm/jazzy). Generated docs could be published with GitHub Pages.

[2018-12-15 17:44] Ma-He opened #17 "XmlEncoder: ordering of elements"
Hi,
is there any possibility to set the order of attributes in an element while encoding a model-instance?
I'm trying to build a GPX reader/writer with this little awesome framework and have noticed that the order of my attributes in an element varies from encode to encode. Am I missing something?

Thanks in advance

[2018-12-15 19:18] MaxDesiatov commented on #17
Hi @Ma-He, thank you reporting this issue. There's a [`.sortedKeys`](https://github.com/MaxDesiatov/XMLCoder/blob/master/Sources/XMLCoder/Encoder/XMLEncoder.swift#L34) option that can be set for [`XMLEncoder.outputFormatting`](https://github.com/MaxDesiatov/XMLCoder/blob/master/Sources/XMLCoder/Encoder/XMLEncoder.swift#L202) property.

We plan to publish auto-generated docs for `XMLCoder` soon, wh

[2018-12-15 20:00] regexident commented on #17
Sorting is not was OP is looking for. Ordering is. That is `<foo>…</foo>` has to appear before `<bar>…</bar>`, if `.foo` was encoded before `.bar`.

This is not supported currently as XMLCoder uses unordered `NSDictionary` in its internal keyed encoding container.

[2018-12-15 20:03] MaxDesiatov commented on #17
Thanks @regexident, I understand now. Still, my understanding was that the main concern is about determinism. I hope that `.sortedKeys` is able to solve that. I guess we have to transition to a tuple array for internal storage to maintain order as well.

[2018-12-15 20:09] regexident commented on #17
I know for sure as writing a `Codable`-powered GPX implementation was my reason for dabbling with XMLCoder (or rather it's predecessor XMLParser) as well.

GPX (like many other XML schemas) expects certain keys to have a specific order:

Search for `` in the [GPX 1.1 Schema](https://www.topografix.com/GPX/1/1/gpx.xsd).

[2018-12-18 13:44] MaxDesiatov commented on #16
It looks like Jazzy doesn't support generation of docs for multiple versions of the library. This means we'd need to upload docs to a correct url with the `xmlcoder.org` S3 bucket. I propose checking `TRAVIS_BRANCH` and `TRAVIS_TAG` [environment variables](https://docs.travis-ci.com/user/environment-variables/#default-environment-variables) in `.travis.yml` during a CI build. When `TRAVIS_BRANCH`

[2018-12-18 17:59] MaxDesiatov opened #22 "Move custom build settings to Package.xcconfig"
This would allow us to remove `.xcodeproj` and to avoid conflicts as mentioned in #19. This would probably require moving benchmark baselines to a separate directory and to add a script that regenerates the project file and copies baselines to a correct location.

[2018-12-18 21:35] MaxDesiatov opened #23 "Implement tests for class hierarchy coding"
`_XMLReferencingEncoder` is a class that we potentially would like to refactor or completely get rid of. It's currently excluded from test coverage and it's only used as a return value of [`superEncoder`](
https://github.com/MaxDesiatov/XMLCoder/blob/863b1605c73459c30ca1489f45cbd5cd2122566f/Sources/XMLCoder/Encoder/XMLKeyedEncodingContainer.swift#L190), which is called when encoding a class hierar

[2018-12-18 22:00] MaxDesiatov opened #24 "Add SwiftLint to CI runs"
We already have a [SwiftFormat](https://github.com/nicklockwood/SwiftFormat) config in the repository, but there are a lot of PR comments that I feel could be caught by [SwiftLint](https://github.com/realm/SwiftLint). Besides, we don't run SwiftFormat on CI. We need to get a consistent coding style established and automatically enforced, which would save time during code reviews.

[2018-12-18 22:07] jsbean opened #25 "Array of enums with associated values"
Thanks for taking up the maintenance on this project!

I am working with an XML schema which requires support for heterogeneous arrays of values within a set of specified types.

Consider the following enum which defines each of the types allowable:

[code]

Currently, the `Decodable` implementation is as follows (based on [objc.io/codable-enums](https://www.objc.io/blog/2018/01/23/codable-enums/)

[2018-12-22 21:36] regexident commented on #17
Nitpick: It's not the order attributes that's unsupported, it's the order of elements.

The XML specification explicitly defines the order of attributes to be of no importance:

[2018-12-23 09:16] MaxDesiatov commented on #17
**TLDR:** We're slowly working towards ordered child elements, but not quite sure if ordering of elements will be possible in the current implementation.

@Ma-He could you please clarify if you're looking for ordering of XML attributes or child elements?

[2018-12-23 09:17] MaxDesiatov commented on #17
If you're specifically interested in supporting GPX, looks like it only requires ordered elements, not attributes.

[2018-12-24 09:10] MaxDesiatov commented on #22
Thinking about it more, it looks like .xcodeproj directory is required by Carthage, so we may need to keep it in the repository 😞

[2018-12-24 09:20] regexident commented on #22
If Carthage was to do a check for SPM projects with missing `.xcodeproj` files and added an intermediary step of running `Swift package generate-xcodeproj` it would work just fine. Alas the issue asking for support was deemed unimportant (due to inactivity). 😕
https://github.com/Carthage/Carthage/issues/969

[2018-12-24 09:45] MaxDesiatov commented on #22
looks like there's also semi-active Carthage/Carthage#1945

[2018-12-30 12:52] #3 closed

[2018-12-31 17:12] khoogheem opened #49 "nodeEncodingStrategy"
Would like to see if it would be possible to look at extending the definition of the custom node encoding strategy.  Or create another custom type

[code]

What would be nice is if we can provide the Value.

[code]

here is the use case.  Given a node type may have attributes using different keys names, I have created a AttributeBox.

[code]

So it would be nice to be able to say for Node `Activit

[2019-01-02 14:04] VadimPavlov opened #52 "OutputFormatting = .sortedKeys"
I believe there is no reason for @available in (legacy code from JSONEncoder?)
`@available(macOS 10.13, iOS 11.0, watchOS 4.0, tvOS 11.0, *)`
`public static let sortedKeys = OutputFormatting(rawValue: 1 << 1)`

[2019-01-02 14:13] regexident commented on #52
You're absolutely right, @VadimPavlov!

I created a PR for it: https://github.com/MaxDesiatov/XMLCoder/pull/53

[2019-01-02 15:32] MaxDesiatov commented on #52
Thanks for the report @VadimPavlov, #53 has been merged to `master` now and I believe this issue can be closed. Please feel free to reopen it with more details if needed.

[2019-01-02 15:33] #52 closed

[2019-01-04 10:48] Ma-He commented on #17
@MaxDesiatov you`re right, just the elements

[2019-01-05 18:28] khoogheem opened #57 "Add Swift Version to Podspec"
[code]

should be added to podSpec

[2019-01-07 13:22] khoogheem commented on #57
my understanding and from that read is that the .swift-version is just for lint and push to trunk.
The swift version inside of the spec helps with the target building version when bringing into projects

[2019-01-07 13:32] MaxDesiatov commented on #57
To clarify, I've never tested XMLCoder with Swift 4.0 or Swift 4.1 previously. Tests would almost certainly fail in 4.0 as they rely on `Equatable` implementations provided by the compiler, which became available in Swift 4.1. We might be ok with setting this value in the podspec to 4.1, but could you please clarify whether you've chosen specifically 4.0 in the initial report on purpose?

I'm not

[2019-01-07 13:35] khoogheem commented on #57
4.2 seems to make more sense.

Would then we also want to change that in the Package to use the 4.2 tools

[2019-01-07 14:27] #57 closed, assigned to MaxDesiatov

[2019-01-08 11:17] #13 closed

[2019-01-11 12:59] MaxDesiatov commented on #23
Fixed in #56

[2019-01-11 12:59] #23 closed

[2019-01-12 11:54] MaxDesiatov commented on #25
Hi @jsbean, first of all thanks a lot for the report and sorry for the delay caused by our current focus on test coverage in `XMLCoder`. We've finally reached ~75% coverage and are ready to look into more bugfixes and disruptive changes in the codebase.

This indeed looks like a bug caused by `XMLCoder` wrapping the inner unkeyed container twice: first in a keyed container and then an unkeyed cont

[2019-01-16 22:38] stonedauwg opened #65 "Arrays of one element encode ok but fail to decode"
With a simple struct:
`struct ProudParent : Codable {`
`       var myChildAge: [Int]`
`}`

`var theparent = ProudParent()`
`theparent.myChildAge = [2,3]`

`<ProudParent><myChildAge>2</myChildAge><myChildAge>3</myChildAge></ProudParent>`

The encoding _always_ works, but if there is only **one** element in the myChildrenAgesCollection Int array it will fail to decode with the error: "Expected to de

[2019-01-18 10:09] MaxDesiatov commented on #65
Thanks @stonedauwg, this looks to be already fixed in `master`, which I've just verified by additional tests in #66. I plan to release XMLCoder 0.3 ASAP, which will contain this fix, but please feel free to reopen the issue if there's still anything missing.

[2019-01-18 11:13] #65 closed

[2019-01-18 12:10] #24 closed

[2019-01-22 21:57] stonedauwg opened #68 "Empty elements fail to decode to optionals in 0.3.0"
After upgrading to 0.3.0, XML elements that are empty and mapped to an optional String fail to decode. Rolling back to 0.2.1 works.

Example struct:

[code]

Example data:
`<BarcodeData><Type>67</Type><BarcodeType></BarcodeType><Length>4</Length><Barcode>1112</Barcode></BarcodeData>`

In version 0.3.0 decoding results in this error:
Swift.DecodingError.Context(codingPath: [CodingKeys(stringValue:

[2019-01-24 09:16] MaxDesiatov commented on #68
Many thanks for reporting this @stonedauwg. I'm not even sure it should have worked in 0.2.1 as it was written. What happens here is that you check for presence of a key in the xml (`<BarcodeType></BarcodeType>`), which is present, and then try to decode `String` (not `String?`) from its contents, which is missing.

You probably wanted something like `try container.decode(String?.self, forKey: . b

[2019-01-24 14:55] stonedauwg commented on #68
Interesting. Didn't know about decodeIfPresent or that you could pass an optional type to decode. Will try and let you know

[2019-01-24 15:09] stonedauwg commented on #68
Indeed as you stated both techniques work in this case. Thanks @MaxDesiatov !

[2019-01-24 15:09] #68 closed

[2019-01-25 20:36] jsbean commented on #25
@MaxDesiatov, no worries! Apologies for disappearing for a bit. Went unplugged.

I'm glad the effort was put into enhancing the test coverage. I'll keep an eye on this. Let me know if there is anything I can do to contribute.

[2019-01-31 09:44] Eitot opened #71 "Specify starting node for decoding"
Perhaps I am overlooking this, but I think it would be useful if the starting node could be specified in some way, perhaps via XPath. While trying to implement an RSS feed, I found that I either have to implement the parent node to get to the child nodes I am interested in or write my own `init(from decoder: Decoder)`.

For example:
[code]

To get to the `title` node, I need to implement a type fo

[2019-01-31 09:57] JoeMatt commented on #10
In a PR I just submitted #70 , commit bce416aa2d295f2f5e0d7ac53cc1aa11d0675162 has an example of a custom encoder function that deals with an array of shared keys.

I simplified it a bit using an extension on KeyedDecodingContainer (required to get the CodingKey type of the container)

To use @galli-leo 's example it would look something like this,

[code]

edit:

I'm going to leave this for refer

[2019-01-31 11:35] MaxDesiatov commented on #71
Hi @Eitot, thank you for the suggestions. This somewhat overlaps with #10 as far as I understand. We do have in mind [a new API](https://github.com/MaxDesiatov/XMLCoder/pull/45#issuecomment-455497833) for resolving some of the problems with mapping different structures, but it doesn't cover this specific case. Maybe you could suggest some to way to tie that in? XPath is a very interesting idea, I

[2019-01-31 11:43] MaxDesiatov commented on #71
I wonder if we could make `CodingKeys` handle proper XPath, this would probably need a flag like `isXPathEnabled` or something on `XMLDecoder` and `XMLEncoder`, so that there's no performance impact on types that don't use it.

[code]

CC @regexident as he has a lot of experience with `Codable` internals and I hope would be able to clarify if this XPath idea makes any sense.

[2019-02-05 21:26] stonedauwg opened #72 "plist missing CFBundleVersion - fails AppStore Connect upload"
Using carthage to either grab the latest prebuilt binary 0.3.0 or forcing carthage to build the latest XmlCoder results in the framework's plist missing a value for CFBundleVersion, which is required for AppStore Connect upload. Other plist keys are correctly filled in. I see it's using the $(CURRENT_PROJECT_VERSION) variable for CFBundleVersion. Perhaps that is not resolving when built with carth

[2019-02-06 09:52] #72 closed

[2019-02-06 09:53] MaxDesiatov commented on #72
Thanks @stonedauwg! I've bumped the version and set it in the project file. Will tag and release it ASAP

[2019-02-06 11:13] MaxDesiatov commented on #72
This has been released as 0.3.1 and pushed to CocoaPods as well. Please reopen this if you still see any issues.

[2019-02-12 17:15] CineDev commented on #17
I have to say you doing great job!
But current iteration of XMLEncoder is basically irrelevant for use cases where the ordering is important. I tried to use it in my simple text editor. I'm storing each paragraph individually in my model. But from save to save my model xml representation gets shuffled, so the text information in the saved document become completely useless.
I hope, the ordering is

[2019-02-15 16:33] CineDev opened #75 "UnkeyedEncodingContainer results in incorrect XML string"
There's some bugs hadling ordered arrays i.e. unkeyed containers.
Let's say, I have a tree with some nodes.

[code]

Now I'm encoding the tree as array of arrays.

[code]

The tree is stored in some Project object which is encoded like this:
[code]

So, here's the problem. If I use builtin JSONEncoder everything is fine. I get this string:

[code]

But if I'm using the XMLEncoder, I get messed up

[2019-02-18 18:51] timsearle opened #76 "Encoding a CDATA wrapped object"
I have a question around producing the following output:

[code]

How can I use XMLEncoder to produce? This element is nested within others but they've been omitted for clarity. All I can currently think of is encode the internal object separately, convert from Data into a String, and then encode with a CDATA encoding strategy.

I'm also slightly confused around how to conditionally use CData enco

[2019-02-19 16:06] MaxDesiatov commented on #25
somewhat related: https://forums.swift.org/t/automatic-codable-conformance-for-enums-with-associated-values-that-themselves-conform-to-codable/11499/16

[2019-02-22 09:47] #12 closed

[2019-02-22 09:48] MaxDesiatov commented on #12
This is now supported in `master` with #73 merged. As usual please feel free to reopen this issue if you think there's anything missing.

[2019-02-22 20:11] thecb4 commented on #12
Trying to use master with the following and still getting an error

<preview_image_time format="24/999 1000/nonDrop">00:00:17:01</preview_image_time>

------

struct PreviewImageTime: Codable, DynamicNodeEncoding {
  var format: String
  var value: String

  enum CodingKeys: String, CodingKey {
    case format
    case value = ""
  }

  static func nodeEncoding(forKey key: CodingKey) -> XMLEncoder

[2019-02-22 20:20] khoogheem commented on #49
looks like pull #73 covers this

[2019-02-22 23:11] JoeMatt commented on #12
@thecb4 What happens if you change your string values to something without colons or backslashes.

I think I ran into something similar with UUID strings that had colons. I believe the decoder is attempting to decode a dictionary before a string, based on the ability to convert "k : v " strings to dictionaries.

If that's a case, a workaround may be to provide your own decoder that specifies the t

[2019-02-23 13:27] thecb4 commented on #12
Now I understand the error message! Perfect.

[2019-02-23 14:52] MaxDesiatov commented on #12
hm, I don't think the attempt to decode that string as a dictionary is something anyone expects to be a default behavior. @thecb4 I hope you don't mind if I add that XML snippet to XMLCoder test suite

[2019-02-23 14:54] thecb4 commented on #12
Thank you. I have been trying to figure out the appropriate work around. I tried a custom init and was still getting the same error.

[code]

[2019-02-23 16:39] thecb4 commented on #12
FYI - When I create a standalone XML element, it works. When it's embedded in another element. it fails.

[code]

structs

[code]

[2019-02-23 16:59] MaxDesiatov commented on #12
Thank you @thecb4, that's very helpful! Clearly looks like a bug to me, looking into it right now.

[2019-02-23 17:23] MaxDesiatov opened #78 "Fix nested attributed intrinsic"
As reported in #12 by @thecb4:

A standalone XML element with attributed intrinsic works. When it's embedded in another element, it fails.

[code]

structs:

[code]

[2019-02-23 17:49] #78 closed

[2019-02-23 17:50] MaxDesiatov commented on #78
@thecb4 this should be now fixed and is verified with a test based on the code you've provided. Please let me know if this is still reproducible for you in `master`.

[2019-02-23 18:01] thecb4 commented on #78
Works!

output now

[code]

[2019-02-23 18:14] MaxDesiatov opened #80 "Document DynamicNodeEncoding and attributed intrinsic"
These features are now available in `master`, but should be documented in README or separate doc files before 0.4 release is tagged.

[2019-02-24 19:11] Eitot commented on #71
To be honest, I have no idea how to implement this. JSONDecoder and PropertyListDecoder have the same shortcoming. They require an `init(from decoder: Decoder)` implementation that does way with the code generation. Depending on the size of the model, it could lead to a lot of boilerplate code. Your suggested solution won’t avoid this either.

I am looking for a solution that keeps the code genera

[2019-02-24 19:19] MaxDesiatov commented on #71
Ok, I see. Thank you for clarifying @Eitot. My initial understanding was that you were looking for a way to "skip" elements in general at any stage during decoding, no just the initial element. Specifying just the starting node does make sense. In your case specifying `"channel"` would point to a node unambiguously, but for this to work in general case, XPath probably works better overall.

But it

[2019-02-24 19:21] MaxDesiatov commented on #10
Keeping this open until we have the XPath idea floating around clarified and possibly implemented. When (if) we do have it ready, that would resolve this specific issue in a much easier way if I understand correctly.

[2019-02-24 19:45] Eitot commented on #71
Indeed, it is not a problem, just… inelegant. After all, this is how JSONDecoder works too. I’d be happy if this is implemented at some point. 👍

[2019-02-25 13:15] MaxDesiatov commented on #76
Thank you for reporting this @timsearle and sorry for the delayed reply. I'm wondering if implementing some helpers for CDATA in the recently added `DynamicNodeEncoding` would be realistic. @JoeMatt would be interesting to hear your thoughts on this if possible 🙏

[2019-02-25 13:27] timsearle commented on #76
Thanks Max! Just as an update, I'm currently working around this issue using something along the lines of:

[code]

Where `SOAP.decoder()` is a convenience for returning a special subclass of XMLCoder I've made with some custom encoding strategies.

[2019-03-01 11:12] #17 closed

[2019-03-01 11:14] MaxDesiatov commented on #17
@Ma-He @CineDev this is now fixed in `master`, no API changes, should work out of the box. `.sortedKeys` now only has effect on attributes, not attributes and elements like before.

[2019-03-08 04:46] JoeMatt opened #83 "Crash: Range invalid bounds in XMLStackParser.swift"
Line 59,

If `xmlParser.lineNumber` is 0 this will throw
[code]

Fix locally with

[code]

Not sure if this logic if correct though, instead of throwing or skipping the for loop.

[2019-03-08 11:34] MaxDesiatov commented on #83
Thank you for reporting this @JoeMatt. This is fixed in #84.

[2019-03-09 08:56] #83 closed

[2019-03-17 22:23] MaxDesiatov commented on #49
@khoogheem Sorry for being late, as #73 was merged, did that resolve your issue?

[2019-03-18 02:29] khoogheem commented on #49
Yep that looks like it should..

[2019-03-18 02:29] #49 closed

[2019-03-25 10:38] MaxDesiatov commented on #80
This was implemented in #85

[2019-03-25 10:38] #80 closed

[2019-04-17 19:07] mhs2342 opened #90 "Is there support for Heterogeneous collections?"
I'd love to use this library, just want to make sure there is support for heterogeneous collections before I begin integrating it.

I am getting a response back from an API that is serving two different kinds of responses and I need to be able to decode them both and put them into a single container. I could used a super class but then I would lose all the access to other properties. My original t

[2019-04-18 18:44] MaxDesiatov commented on #90
Hi @mhs2342, thank you for considering XMLCoder!

I see multiple options here, please let me know how any of these fit your use case.

1. Decode as a dictionary:

[code]

2. Decode to one struct with optional properties:

[code]

3. Decode to multiple structs with non-optional properties:

[code]

4. Decode to multiple structs with a parent struct:

[code]

[2019-04-24 14:38] MaxDesiatov commented on #90
Hi @mhs2342, I would like to add more sample code to the README of XMLCoder, would you mind if I take your XML snippet and use it that way? Thank you!

[2019-04-24 14:40] mhs2342 commented on #90
@MaxDesiatov Sure! Sorry for the delay, I haven't had a chance to dive into this yet. You can find the api where similar requests happen [here](http://www.bt4uclassic.org/webservices/bt4u_webservice.asmx?op=GetCurrentBusInfo)

[2019-04-25 02:55] TheFlow95 commented on #25
Hello!

I am also affected by this issue, any news?

[2019-04-25 04:07] TheFlow95 opened #91 "Arrays of enums"
I am trying to decode this XML:
[code]

This is my implementation:
[code]

But I am getting an odd `DecodingError.keyNotFound`…

I know that there is already an issue about enums but I think this one is different because I am trying to do an array of array of enums and I don't get the same error.

I am using an enum because I want to be able to decode a `<p>` with different optional elements and k

[2019-04-28 19:06] MaxDesiatov commented on #91
Hi @TheFlow95, thank you for providing the snippets. There's an additional issue here caused by a missing struct that reflects the XML:

[code]

After adding it and decoding into `Container.self` instead of `[Paragraph].self` there are no more errors thrown. The other problem though is that `Entry.init(from:)` uses a keyed container, but reads only a single key from it. This means that only a sing

[2019-04-29 01:50] TheFlow95 commented on #91
Thanks for your answer, I'm looking forward to have a fix for this!

[2019-04-29 02:52] TheFlow95 commented on #91
By playing with the library, I ran into another bug related to this one. When trying to decoding the following XML with the same code as before:
[code]
I get the following error:

I think that the error is because I have two `run` elements into the first `p` but I thought that it would handle it. Can you help?

[2019-04-30 13:09] TheFlow95 opened #94 "Trimmed whitespace on decoding String"
I had another issue with the library when decoding strings. For example if I have a string with a whitespace at the end in my XML, it will get trimmed when decoding but I don't want this behavior.

Moreover, when an element contains an empty string, it is automatically interpreted as nil.

[2019-04-30 14:03] MaxDesiatov commented on #94
Hi @TheFlow95, thanks for reporting this. The conversion of empty strings to `nil` is now fixed in #92. As for trimming the whitespaces, I think the best way forward would be to add a property on `XMLDecoder` like `trimValueWhitespaces` to turn the trimming off, while the default value would be `true` for backward compatibility.

[2019-04-30 14:49] MaxDesiatov commented on #91
After spending some time on this I think that using `singleValueContainer` for `Paragraph` here wouldn't work. We need to preserve the order and duplicate keys in the container, so the best fit would be to rely on the standard unkeyed container in the compiler-generated `init(from: Decoder)` for `Paragraph`. On the other hand, `Entry` should be able to read the name of the tag to determine the act

[2019-05-01 11:29] #94 closed

[2019-05-01 11:30] MaxDesiatov commented on #94
This is now fixed in `master` and will be included in 0.5 release, which I'm going to tag soon.

[2019-05-01 11:32] MaxDesiatov commented on #94
`trimValueWhitespaces` has also been added in #92 and is now available in `master`.

[2019-05-02 01:30] TheFlow95 commented on #91
Sounds good to me!

[2019-05-02 02:37] jsbean commented on #25
I am currently only looking at this from the decoding side of things, but here are some thoughts.

Here is a pipeline that seems important for this feature:

[`XMLCoderElement.flatten()`](https://github.com/MaxDesiatov/XMLCoder/blob/master/Sources/XMLCoder/Auxiliaries/XMLCoderElement.swift#L49-L64)-> **KeyedBox**
[`XMLStackParser.parse(...)`](https://github.com/MaxDesiatov/XMLCoder/blob/master/Sou

[2019-05-02 09:14] MaxDesiatov commented on #25
I've been working on this issue for the last couple of days in attempt to resolve #91 and you're right, most of the problems are in how `flatten` works. The name is unhelpful though, it doesn't flatten anything, only transforms a tree of `XMLCoderElement` to a tree of boxes. I'm going to rename it to `transformToBoxTree` or similar.

A temporary hack I've applied during my experimentation was to t

[2019-05-07 09:51] TheFlow95 opened #100 "Bad access error when running on device"
After working on simulator on my app, I wanted to test it on my iPad but I have a EXC_BAD_ACCESS on line 382 of XMLDecoderImplementation.swift. This error isn't present when I run the app on the simulator.

I run the app on a 2017 iPad with iOS 12.1.4 and for the simulator I used the iPad Pro 11" with iOS 12.2.

[2019-05-07 11:43] MaxDesiatov commented on #100
Hi @TheFlow95, can you please attach any code and XML snippets that reproduce this for you? Thanks!

[2019-05-08 04:29] TheFlow95 commented on #100
The code I used is the same as `CoreXLSX`:
[code]

And when this method is executed it produces the error on the device.

[2019-05-08 09:33] MaxDesiatov commented on #100
@TheFlow95 would you be able to attach the file and the project that reproduce this for you? I'm inclined to think this has something to do with project settings as I'm not able to reproduce it with the [CoreXLSX Example project](https://github.com/MaxDesiatov/CoreXLSX/tree/master/Example) and Xcode 10.2 on 2017 iPad Pro 10.5 inch and iPhone X both running iOS 12.2.

[2019-05-09 07:43] TheFlow95 commented on #100
I cannot attach my project but I am working on a framework that includes `XMLCoder` and the issue happens when I use the framework inside an app. So here are the steps to reproduce:

1. Create a framework with `XMLCoder` in it
2. Create an app and add the framework to it
3. Run this code in the app:
[code]

I can reproduce with any PowerPoint file but I'm attaching one here

Thanks for you help!

[2019-05-09 12:11] MaxDesiatov commented on #100
Thank you for the file. It's really great to see the interest in .pptx format support. I'm probably going to rename `CoreXLSX` repository to `CoreOffice` in the next release after I add new `CorePPT` module. It's now in MaxDesiatov/CoreXLSX#63 PR that I will use to create a reproduction case.

[2019-05-10 10:34] MaxDesiatov commented on #100
Hey @TheFlow95, I've just pushed .pptx support to the [Example project](https://github.com/MaxDesiatov/CoreXLSX/tree/pptx/Example) of `pptx` branch, could you please try running that project on your devices? It requires running `pod install` in that directory before building.

That project builds and runs without a problem on both of my devices I listed in previous comments, it displays structures

[2019-05-14 07:03] TheFlow95 commented on #100
Hello @MaxDesiatov! I tried your example project on my device and it does work.

I am starting to think this is some kind of stack overflow problem, because I load in memory the file with structs. Do you know things about it?

[2019-05-14 09:19] MaxDesiatov commented on #100
hey, thanks for the update. I don't know of any possible stack overflow problems in CoreXLSX or XMLCoder. I hope the full stack trace of the crash (if sharing your isolated project is not possible) could point in the right direction. Would you mind sharing that stack trace here? Or you could share the project to xmlcoder@desiatov.com

[2019-05-14 09:30] TheFlow95 commented on #100
As a workaround, I changed my structs into classes but I don't know if it's a good thing to do (memory seems okay)…
I'm going to try sharing the stack trace but I also found out that there are many different stack traces leading to the ”Bad access” error.

[2019-05-22 16:05] pj4533 opened #103 "<element /> issue?"
This might be user error, or might be related to https://github.com/MaxDesiatov/XMLCoder/pull/101 not really sure.   I am trying to decode:

[code]

My structs:

[code]

The empty text in the last nested object fails to decode.  I think cause the String inside the array isn't optional, so when not there, the decoder freaks out?   Not sure...any help would be appreciated!

[2019-05-22 16:09] pj4533 commented on #103
Derp.....nevermind!    I answered my own question.....just needed to make the array element optional!

[2019-05-22 16:09] #103 closed

[2019-05-22 17:06] eyallen opened #104 "Return Unrecognized Elements as a String?"
I am trying to implement a parser for a XML format that can contain extensions. These extensions are valid XML, but we don't know what format they will be in.

I'd like to return any unrecognized elements as a string for later parsing by consumers. Is this possible?

An example:
[code]

I'd like the following structure:

[code]

[2019-05-22 17:35] MaxDesiatov commented on #104
Hi @eyallen, thank you asking this question, I really should clarify this in README. I think a similar thing was asked in #90, do you find my answer to that issue applicable in your case?

[2019-05-22 17:48] eyallen commented on #104
@MaxDesiatov I could be reading it wrong, but that feels like a separate use case to me.

In my case, I never want the XML to end up in a struct as I have no idea what the format would be.

To extend my example above, I could receive:

[code]

Or Even:
[code]

The only thing I know when parsing the XML is:

1. There may be an Extensions node
2. Inside the Extensions node, for each extension it wil

[2019-05-22 17:52] MaxDesiatov commented on #104
If you'd like to represent the inner unescaped XML as a raw string, that's unfortunately not supported in the underlying [`XMLParser`](https://developer.apple.com/documentation/foundation/xmlparser) from Swift's Foundation module. If escaping that data is an option, that's very similar to [CDATA](https://en.wikipedia.org/wiki/CDATA), especially the way it's used in formats such as RSS. CDATA is su

[2019-05-22 18:52] eyallen commented on #104
Thats good to know, thanks.

I was hoping in the XML case at least that I could detect a Extension
element and then serialize to string from there. I'd expect that would
require me to have access to the XMLParserDelegate, though I see now it is
merely reporting star/end elements without giving me the underlying parsed
element or an index in the Data.

On Wed, May 22, 2019 at 10:52 AM Max Desiatov

[2019-05-22 20:42] MaxDesiatov commented on #104
Yeah, with the current `XMLParserDelegate` API that would be problematic without CDATA, I'd highly recommend using CDATA if possible. Otherwise that would also impact the performance too, `XMLParser` would detect inner content as proper XML, parse it, and then XMLCoder would need to serialize it back for your consumption, which means needless coding/decoding cycle.

[2019-05-22 20:46] eyallen commented on #104
Thanks. Sounds like I will just need to pre-process the XML on the client side and wrap the internals of the Extension tags in CDATA to allow me to extra it as a String for later processing.

I'll give that a shot.

[2019-06-26 12:05] acecilia opened #108 "The order of the attributes changes randomly"
I noticed that when there are multiple attributes, every time I encode the model they are ordered in a different way in the resulting `xml`. This is a huge problem during unit tests, where it becomes impossible to validate the encoded `Data` (or `String`)  against a reference one.

Is this a known issue?

Thanks,
Andres

[2019-06-26 20:30] MaxDesiatov commented on #108
Hi @acecilia, thank you for reporting this. I thought this was fixed in 0.6.0 with #102 being merged, but interesting to see this still being reproduced. Do you have any specific unit tests you'd be able to share? If so, would you mind if I add them to XMLCoder's test suite?

[2019-06-30 20:18] acecilia commented on #108
Sure. Find in https://github.com/MaxDesiatov/XMLCoder/pull/109 some tests that showcase the problem and a small explanation of why this happens. Find in https://github.com/MaxDesiatov/XMLCoder/pull/110 a fix for it :)

[2019-06-30 21:00] #108 closed

[2019-07-04 14:02] acecilia commented on #10
Hi @JoeMatt. Can you explain a bit more about what you commented:

I have the following XML:
[code]

I found myself doing the following to decode it:
[code]

Where the Trip declaration is as follows:
[code]

Then, if I have to get the id of the first trip I have to do:
[code]

Is there any other way to decode this XML?

What would be ideal is:
[code]

[2019-07-08 16:03] JoeMatt commented on #10
I would have assumed this would work no?

[code]

[2019-07-08 16:10] acecilia commented on #10
@JoeMatt I just tested it in version `0.7`. No it does not work. I do not think the `XMLCoder` can infer the `trip` tag name from the `trips` CodingKey

[2019-07-08 16:20] JoeMatt commented on #10
Try this,

[code]

I can't remember the code for a single value decoder off the top of my head, but that might work. I think that's what I was writing in my first example (I barely remember writing it at all), but this line stands out,
`        var nested = try nestedUnkeyedContainer(forKey: key) `

[2019-07-08 16:25] JoeMatt commented on #10
I would also recommend using different data models structs for decoding and your business logic models. In my experience trying to keep them the same results in writing complex extensions to decodable 😆 And to what ends? `response.trips.trip.first?.id` might be annoying to type, but you only need it once in a factory transformer to you business logic structs.

You might be able to use some tricker

[2019-07-08 16:29] acecilia commented on #10
@JoeMatt Yes, that is what I am doing: this is a model in my data layer. Due to your comment, I was just  if there was a simple way of removing that extra level that I missed. But seems that the only way is to manually implement `Codable`, which as you say defeats its own purpose.

[2019-07-08 21:01] acecilia commented on #10
For having it as a reference for the future, this is how I end up partially solving this issue:
[code]

With that you can do:
[code]

And obtain the value as:
[code]

[2019-07-09 12:16] MaxDesiatov commented on #10
This is a fantastic idea @acecilia. This probably could look even better with property wrappers and key path dynamic members in Swift 5.1 that allow addressing wrapped properties directly 👍

[2019-07-20 12:37] mackmilan opened #116 "XML with autoclosed tags"
I have the following xml:

[code]

and the structs:

[code]

when I ran the decode, I get the error:

Fatal error: Unrecognized top-level element of type: NullBox: file

and it's related to the attributes array in Entity, could you help me please?

[2019-07-30 18:39] #25 closed

[2019-07-30 18:39] #91 closed

[2019-07-31 10:53] MaxDesiatov commented on #116
Hi @mackmilan, sorry for the delayed reply. Thank you for submitting the XML snippet and the model files. Unfortunately, I don't think that the supplied XML is exactly the same as the one that reproduced your error. There's neither `file` element nor `file` attribute present anywhere in that XML. When I pasted the XML and the model types in my tests I got a different error caused by one of the att

[2019-07-31 17:44] mackmilan commented on #116
@MaxDesiatov, you are absolutely right, is not that xml, in fact, I can't reproduce the error anymore, I've changed the userScalarValueType attribute to optional, it works very well.
Thank you for your time.

[2019-07-31 17:44] #116 closed

[2019-08-05 14:34] jsbean opened #121 "[Swift 5.1] Import FoundationXML rather than Foundation"
As of [this PR](https://github.com/apple/swift-corelibs-foundation/pull/2432) onto the Swift 5.1 branch, `XMLParser` lives in a split-off `FoundationXML` framework rather than `Foundation`.

Once Swift 5.1 drops, perhaps we check against the compiler version to import accordingly?

This is a reality as of [DEVELOPMENT-SNAPSHOT-2019-08-03-a](https://github.com/apple/swift/releases).

[2019-08-05 14:38] MaxDesiatov commented on #121
As far as I understand, the recommended way is to use `canImport` like this:

[code]

Probably can even be included before 5.1 release.

[2019-08-05 18:18] plushcat opened #122 "Nested enums coding doesn't work"
Seems like I found a bug with enums decoding.

Consider the following set of structures describing a book:
[code]
and the example xml:
[code]
I'm getting an object with only one chapter `Intro`:
[code]

But if I modify my example like this:
[code]
the result will be a proper array of chapters:
[code]

Codable extensions implemented like this:
[code]

Would appreciate any help or suggestion in reso

[2019-08-05 20:29] jsbean commented on #122
If it helps, I have reproduced this.

It appears that the error occurs when the `ChoiceBox.init(_: KeyedBox)` is called within `XMLDecoderImplementation.choiceContainer(keyedBy:)`.

[2019-08-05 20:33] bwetherfield commented on #122
By the way, I _believe_ the following should work as a temporary workaround!

[code]

[2019-08-08 12:40] jsbean opened #123 "Decoding containers with (potentially)-empty elements"
We have a use case where we need to decode an array of potentially empty elements.

Currently, unkeyed and keyed containers holding onto empty (e.g., a struct with no fields) or a potentially empty (e.g., a struct with all optional fields) elements does not decode.

Say we've got a struct like this:

[code]

If we have some XML like this:

[code]

It would be nice to decode like this:

[code]

The

[2019-08-08 12:58] MaxDesiatov commented on #123
Thank you for reporting this. I previously also had an attempt at this, or a similar case related to optionals and empty elements, and I wasn't able to fix and at the same time to keep all existing tests passing. If you see a way to make this work well, please go ahead!

[2019-08-14 16:19] chepiok opened #124 "TCX file need an XML root node"
TCX file need a root XML node at the start (Strava rejects the file when the tag is not available). need \<?xml version="1.0" encoding="UTF-8"?>

[2019-08-14 16:25] chepiok opened #125 "TrackPoint position parameter is ignored"
when using TrackPoint:init position parameter is ignored. Need to add "self.position = position" in constructor

[2019-08-15 20:56] #125 closed

[2019-08-15 20:56] #124 closed

[2019-09-06 20:37] mxcl commented on #71
This doesn't sound worth it, it's not that arduous to define the whole structure.

[2019-09-09 20:50] MehmetBal opened #127 "Root level attributes don't get encoded back to attribute when converting back to XML file from Plist"
Hi,

First of all thanks for creating such a useful library!  I am having a bit of a hard time with root-level attribute encoding.

I have a complex XML that requires a big model but to simply:

To decode something this:

[code]
I am doing

[code]
Then I decode using XMLDecoder(), encode to PLIST using PropertyListEncoder() then encode back to XML with first PropertyListDecoder() and then
[code]
a

[2019-09-09 23:16] MehmetBal opened #128 "Decode/Encode comments from XML?"
Hi,

I went through the test examples, although they are thorough I didn't see any examples about how to handle comments. So do you have a recommendation on how do that?

sample XML:
[code]

I convert from XML to some other type then back to XML so I am trying to conserve the original comments.

Thanks for the help

[2019-09-10 14:17] mxcl opened #129 "Spaces removed when decoding strings with escaped elements"
I am getting this kind of XML from an ancient SOAP server:

[code]

When I decode with a struct like:

[code]

Using:

[code]

I get:

[code]

You can see the spaces on either side of the `&quot;`s are removed.

This means I cannot decode the inner XML without mangling the string first.

Happy to fix the bug, just point me at the right code, thanks.

[2019-09-13 15:06] marcblanchet opened #130 "Float vs Float64=Double not parsing 3.14"
if string = "3.14" (which is a valid Float literal), and Codable class contains var myFloat: Float?, on MacOSX 10.14, it does not parse. If I change "typealias Unboxed = Float64"  (Float64 seems to be Double from Apple) to Float like: "typealias Unboxed = Float" in FloatBox.swift , then parsing works.

[2019-09-13 16:47] marcblanchet opened #131 "iso8601 formatter with RFC3339 is too restrictive"
let formatter = ISO8601DateFormatter()
    formatter.formatOptions = .withInternetDateTime
this formatOption restricts to RFC3339 format. That format requires timezone. Sometimes the timezone is not included, therefore results in error.
I manage to create a custom formatter instantiating
    let formatter = ISO8601DateFormatter()
    formatter.formatOptions =  [.withColonSeparatorInTime, .withDash

[2019-09-24 18:57] mxcl commented on #121
5.1 was released. Can submit PR. Need it for production use of this library.

[2019-09-25 13:11] MaxDesiatov commented on #121
@mxcl very excited to see this library in production! Please let me know if that's public, I'd be happy to feature it in the README file.

5.1 support is in `master` now and I plan to tag a new release with that ASAP.

[2019-09-25 17:23] mxcl commented on #121
Use is private currently, will advise when we're more public! Thanks for the lib, was essential for our backend services.

[2019-09-28 21:23] jsbean commented on #121
@MaxDesiatov, looks like you took care of this in #133! Want me to close this down, or is there anything else that needs to be done?

[2019-09-29 18:21] MaxDesiatov commented on #121
@jsbean, thanks for checking! I'll keep this open until 0.9 is formally released, primarily as a reminder for this to be added to the CHANGELOG file etc.

[2019-09-30 20:35] mxcl commented on #129
Ping on a pointer. This is a real problem for us.

[2019-10-01 19:30] DJBen opened #135 "Option for XMLEncoder not to self-close tags?"
Hi I try to find ways to make XMLEncoder NOT to produce self-closing tags.

i.e. I would like `<tag id="1"></tag>` rather than `<tag id="1" />`. Do we have a way to customize this?

Thank you

[2019-10-04 19:34] MaxDesiatov commented on #127
Hi @MehmetBal, can you please have a look at #134? We aren't able to reproduce the issue with the test added in that PR. Please feel free to reopen this issue if anything's missing.

[2019-10-04 22:19] MaxDesiatov commented on #122
Hi @plushcat, I'm sorry for the delay. The solution would be to add an intermediate `Chapters` with a custom decoder that calls `singleValueContainer()`. This is done #126, but we also had a similar test in `NestedChoiceTests`. Does that resolve the issue for you?

[2019-10-04 22:36] MaxDesiatov opened #136 "Reenable Combine tests when Catalina is available on Azure Pipelines"
Combine tests were temporarily disabled in #132 until Catalina, which supports Combine is released and available on Azure Pipelines.

[2019-10-05 14:35] MaxDesiatov commented on #128
Hi @MehmetBal, sorry for the delayed reply. Good news is that Foundation's `XMLParser` supports comments. On our side, we only need to find a proper API to integrate it. I'm thinking that something similar to [the coding key value intrinsic](https://github.com/MaxDesiatov/XMLCoder/blob/master/README.md#coding-key-value-intrinsic) could work. This could be a new comment coding key API that maps all

[2019-10-05 17:40] MaxDesiatov commented on #129
Hi @mxcl, sorry for the delay. Does setting `trimValueWhitespaces` to `false` on `XMLDecoder` instance resolve the issue for you?

[2019-10-05 17:52] MaxDesiatov commented on #129
I've added a test for this in #137, but it didn't require any changes in the library code, just disabling the `trimValueWhitespaces` flag. Please let me know if anything's missing.

[2019-10-05 19:54] MaxDesiatov commented on #130
Hi @marcblanchet, thanks for reporting this, this is fixed in #138.

[2019-10-05 20:02] MaxDesiatov commented on #131
Hi @marcblanchet, we don't use any custom parsing of date strings within `XMLCoder` and you can always pass a your own `DateFormatter` instance. From that perspective, it's the responsibility of the user to pass a `DateFormatter` instance that's more liberal in accepting date strings.

Were you able to find options that work for you case? If not, what do you think the alternative API should be?

[2019-10-05 20:08] MaxDesiatov commented on #100
Hi @TheFlow95, is this still reproducible for you? Can this issue be closed otherwise?

[2019-10-05 20:30] marcblanchet commented on #131
taking xsd schemas, xsd defines multiple date formats, so even within a single XML, one may encounter different kinds of date and time formats. So it would be great to provide a more liberal way to support dates/times, at least the ones clearly defined. I would certainly see an option that says: try any. Yes, I wrote a custom one which tries in sequence multiple formats until it can't find anythin

[2019-10-06 18:38] #130 closed

[2019-10-06 23:07] patrickbdev opened #139 "Array Support"
I'm loving XMLCoder but having a bit of difficulty understanding how to decode an array of elements. Here is an example XML

[code]

Here is how I'd expect it to be structured in Swift.

[code]

Here is how I'm decoding it:

[code]

The error printed is:

`Swift.DecodingError.keyNotFound(CodingKeys(stringValue: "Name", intValue: nil), Swift.DecodingError.Context(codingPath: [CodingKeys(stringValue

[2019-10-07 15:40] mxcl commented on #129
I'll check, I apologize that I didn't see this property before.

[2019-10-07 15:46] mxcl commented on #129
Can confirm this fixes it thanks.

Not sure if the feature is working as intended, since it was trimming from the middle of my strings.

[2019-10-07 15:54] MaxDesiatov commented on #129
We [trim](https://github.com/MaxDesiatov/XMLCoder/blob/9e680f23e4c06ffee3a7854adc5132ff34ab3ca1/Sources/XMLCoder/Auxiliaries/XMLStackParser.swift#L161) any string chunk that Foundation's `XMLParser` passes us in [its delegate](https://github.com/MaxDesiatov/XMLCoder/blob/9e680f23e4c06ffee3a7854adc5132ff34ab3ca1/Sources/XMLCoder/Auxiliaries/XMLStackParser.swift#L161) function, which usually is just

[2019-10-13 18:45] MaxDesiatov commented on #139
Hi @patrickbdev, thanks for trying XMLCoder! This case is indeed supported, the only caveat is that you need to introduce an intermediate `struct` to fully reflect the tree structure of your XML. If you don't provide custom coding keys and custom encoders/decoders, the names of your properties need to directly match the names of the elements and attributes (names of the types don't matter). In you

[2019-10-13 19:08] MaxDesiatov commented on #135
Hi @DJBen, within XMLCoder we treat both cases differently, since a self-closed tag indicates an absence of a value, while the lack of it means an empty value (e.g. an empty string). In my opinion the simplest solution would be to leverage [the value intrinsic](https://github.com/MaxDesiatov/XMLCoder#coding-key-value-intrinsic):

[code]

[2019-10-14 08:26] DJBen commented on #135
That sounds good. Thanks.

[2019-10-14 08:26] #135 closed

[2019-10-14 08:31] DJBen opened #141 "Value with copyright symbol © has its preceding whitespace trimmed off even `trimValueWhitespaces` is set to false"
See test case added in my commit that verifies this issue
https://github.com/MaxDesiatov/XMLCoder/commit/82d9bac8a39926960efdd9a93d54af3ead0d2121

Regardless of nested or not, parsing something like `<t>Copyright © 2019 Company, Inc.</t>` gets me `"Copyright© 2019 Company, Inc" ` with the preceding whitespace before `©` trimmed off.

I look for the codebase and found the only place involving `trim

[2019-10-15 15:33] JUSTINMKAUFMAN commented on #123
@MaxDesiatov Any word on this?

I have the same issue decoding the following xml (see the part with `<qtcodec/>`):

[code]

If there is no official answer to this as of yet, I'm curious to know what you're doing @jsbean to handle this case in the interim (both for decoding and encoding)?

Thanks, and kudos on a great library!

[2019-10-15 17:40] jsbean commented on #123
Hi @JUSTINMKAUFMAN,

We made a patch for this in [this PR](https://github.com/jsbean/XMLCoder/pull/53) on our fork. We haven't submitted it here yet because it changes an expectation in one test (@bwetherfield mentions it in the PR), and because we have been focused on other things in the meantime.

Perhaps give our fork on `master` a try. If this works for folks other than us (and @MaxDesiatov ac

[2019-10-15 18:33] DJBen opened #143 "Question: ways to parse <!DOCTYPE>"
It may not be as important as my special use case, I want to parse MusicXML, whose top-level element might either be `score-partwise` or `score-timewise`, which is determined by the `<!DOCTYPE>` meta-element, an example shown below.

[code]

Wondering if there's any support for decoding `<!DOCTYPE>`. If not, what change you think might need to support this. Very appreciated.

[2019-10-15 20:10] MaxDesiatov commented on #143
That's a great question, thank you for raising this @DJBen. My first guess would be to have a closer look at [`XMLParserDelegate`](https://developer.apple.com/documentation/foundation/xmlparserdelegate) as that's the lowest level API that we have direct access to. If `XMLParser` and `XMLParserDelegate` can't handle this, then I'm afraid it would be hard to support it without a custom XML parser. I

[2019-10-15 21:29] JUSTINMKAUFMAN commented on #123
Thanks @jsbean that works perfectly!

[2019-10-15 21:33] MaxDesiatov commented on #123
Thanks folks! My main reason for being cautious with this is the effort to maintain widest possible compatibility in [CoreXLSX](https://github.com/MaxDesiatov/CoreXLSX). But I need to double check, maybe the fork works fine in most important cases and slight breakage in backward compatibility would be ok. I'll keep the issue open until that's verified and as usual I'm open to any possible improvem

[2019-10-17 12:38] MaxDesiatov commented on #141
In my testing setting `trimValueWhitespaces` to `false` on a decoder in #147 fixes the issue. I agree this is unexpected behaviour, but unfortunately at this point our 0.9 release is overdue. I'll consider this a duplicate of #129 and will potentially schedule it for 0.10 timeframe. In the meantime setting `trimValueWhitespaces` to `false` is an acceptable workaround, I hope. 🤞

[2019-10-17 12:40] MaxDesiatov commented on #121
Closing as fixed in the imminent 0.9 release.

[2019-10-17 12:40] #121 closed

[2019-10-17 12:42] MaxDesiatov commented on #90
Hi @mhs2342! I know it's been a while, were you able to have a look and can the issue be resolved at this point?

[2019-10-17 13:22] #141 closed

[2019-10-17 17:55] DJBen commented on #141
Okay thanks.

[2019-10-30 19:50] chepiok opened #148 "Date formatting on 24h region with display set to 12h"
Set a real iPhone (and not the simulator) on french region and turn "display 24 hours" off, the date are formatted as "2019-10-24T5:27:41.999 PMZ" (note the weird "<space>PM")

[2019-10-30 21:19] chepiok commented on #148
Found issue but not in XMLCoder. The date formatter was redefined and not correct.

[2019-10-30 21:19] #148 closed

[2019-11-04 20:09] mrommel opened #150 "EXC_BAD_ACCESS on XCode 11.2 and iOS13.2"
Hi, I have issues since I updated my project to XCode 11.2 and iOS13.2.

EXC_BAD_ACCESS when trying to run "Note" Sample on Simulator or Device.

Can anyone help?

I have uploaded a minimal Sample. Lib is included via SPM. Doesn't matter which version (I tried 0.7.0, 0.8.0 and 0.9.0): [https://github.com/mrommel/XMLCoderiOS13_2](url)

[2019-11-04 20:19] mrommel commented on #150
Bad Access happens in XMLKeyedDecodingContainer.swift:37

[code]

Stack trace
[code]

[2019-11-04 21:39] ydnar commented on #150
Try disabling dead code stripping on your app’s project: `DEAD_CODE_STRIPPING = NO`

For additional context, see the underlying bug here: https://bugs.swift.org/browse/SR-11564

[2019-11-05 06:05] mrommel commented on #150
Sorry for not thinking this far - thanks a thousand times.

[2019-11-05 06:05] #150 closed

[2019-11-17 20:21] #123 closed

[2019-11-19 20:24] futuretap opened #153 "EXC_BAD_ACCESS when running tests"
When I download the current master branch from scratch and run the tests on the 13.2.2 simulator (from Xcode 11.2.1 (11B500)), it crashes with EXC_BAD_ACCESS. Any idea what's going wrong?

[code]

[2019-11-19 20:28] MaxDesiatov commented on #153
Hi @futuretap, this seems to be a duplicate of #150, which is also linked in our requirements section in a note about Xcode 11.2 (also applicable to Xcode 11.2.1). Does a workaround described in that issue work for you?

[2019-11-19 23:22] futuretap commented on #153
Don't know how to set DEAD_CODE_STRIPPING on the Swift package (since there's no Xcode target with build settings). But running the test on the Mac directly instead of in the sim worked.

[2019-11-20 14:48] MaxDesiatov commented on #153
@futuretap you don't have to set `DEAD_CODE_STRIPPING` on the package, setting it on the target that links with `XMLCoder` module should be enough

[2019-11-20 15:22] futuretap commented on #153
I have no target. I simply opened the project and ran the included tests.

[2019-11-20 15:27] MaxDesiatov commented on #153
Hm, I can't reproduce it locally. If you have a chance to try on the latest Xcode 11.3 beta, curious to know if that as well fixes the issue for you.

[2019-12-12 19:41] alexllao opened #156 "Decode special XML Structure"
Hi!

How can I decode such an xml? All server responses always come with the structure

[code]

Example XML:

[code]

Thnks a lot!

[2019-12-22 22:36] MaxDesiatov commented on #153
Xcode 11.3 has been released and the issue is not reproducible with that version, as far as I'm aware. I've also prepared #158 with updates to README.md that clarify this and recommend using Xcode 11.3 or later instead of Xcode 11.2. I think this issue can be closed now accordingly.

[2019-12-22 22:36] #153 closed

[2019-12-25 19:50] MaxDesiatov commented on #156
Hi @alexllao, sorry for the delayed reply.

Do you know the element names within the `<values>` tag upfront? You could decode that either as a `struct` with names of properties matching the names of contained elements (which is beneficial as you'd specify value types as well) or as a dictionary or an `enum` if combinations of nested elements can vary significantly. Which of these options would wor

[2019-12-27 17:00] ethan-kusters commented on #129
Looks like this is already being addressed, but I just noticed the same issue with single quote values as well.

For example, the value:

<title>What does ‘being verified’ actually mean?</title>

was returned as:

What does'being verified' actually mean?

Setting trimValueWhitespaces to false fixed the problem for me as well. Thank you so much for all your work here!

[2020-02-21 12:20] monibu91 opened #159 "Can inheritance be implemented?"
I have this xml:
[code]
 Which represents content on a page. The page has its properties and one group which is the root node of a tree structure. The nodes of the tree are "blocks". A block is like abstract class because there are no elements in the xml that are "block", but "group" , " text", "image", "diagram" and "embed" are blocks ( they have all the properties a block has (id, x, y, width, h

[2020-02-21 12:31] monibu91 commented on #159
I have also tried something like:
[code]

But this give me error:
[code]

[2020-03-09 14:15] monibu91 commented on #159
With the master branch my code works, but i was using cocoa-pods which i guess is an older version. So the fix for me was to add XMLCoder as Swift package pointing to master.

[2020-03-16 15:48] MaxDesiatov commented on #159
Sorry for the delay, just having a look at this. A new version of XMLCoder will be tagged soon, which will make the fix available on CocoaPods. Thanks for reporting the issue!

[2020-03-30 15:47] JanVrabel opened #164 "Bundle identifier in wrong format"
Hi, impressive work (also on CoreXLSX). Just small idea: (maybe I am wrong but) I think if the bundle identifier wont be in com.company.XMLCoder format it can cause problems with signing during the installation on device or upload to appstore.
Thnx a lot for frameworks like this 👍

[2020-03-30 20:20] MaxDesiatov commented on #164
Hey @JanVrabel, this is fixed in #165 and will be released in the next 0.10 version. Thank you so much for your feedback, this is really inspiring 🙂

[2020-03-30 20:29] #164 closed

[2020-04-04 12:34] MaxDesiatov commented on #159
Closing as resolved in 0.10

[2020-04-04 12:34] #159 closed

[2020-04-04 13:27] MaxDesiatov commented on #156
Unfortunately, I'm not able to proceed with this issue without more details, and it hasn't been updated for quite a while. Please feel free to reopen if needed.

[2020-04-04 13:27] #156 closed

[2020-04-04 13:28] MaxDesiatov commented on #100
As this issue hasn't been updated for quite a while, I'm closing it as outdated. Please feel free to reopen if needed.

[2020-04-04 13:28] #100 closed

[2020-04-04 13:30] MaxDesiatov commented on #127
This issue hasn't been updated for more than a few months, I'm assuming it can be closed as outdated.

[2020-04-04 13:30] #127 closed

[2020-04-09 17:13] Kirow opened #168 "CDATA Decoding not working"
[code]

`result.data` decoded into `""`.  Actually there is an error in `XMLDecoder.swift:212` - `Expected String but found null instead.`

If we go deeper -  `KeyedBox.swift:27 return elements[""].first as? SimpleBox`. It will return `nil` because key is `"#CDATA"` in this case.

I've made simple code change that fixed problem in this case, but have no idea what it can break later.

<details><sum

[2020-04-09 20:02] #168 closed

[2020-04-09 20:02] MaxDesiatov commented on #168
Thanks for reporting it @Kirow, the fix for it will be included in the next release.

[2020-04-09 20:52] #15 closed

[2020-04-13 02:00] xiote opened #172 "Example Error (swift package manager)"
[code]

[code]

* Package.swift
[code]

* Sources/XMLCoderExample/XMLCoderExmaple.swift
[code]

[2020-04-13 02:52] xiote commented on #172
`import XMLCoder` issue

[code]

[2020-04-13 05:33] xiote commented on #172
* Package.swift
[code]

[2020-04-13 05:33] #172 closed

[2020-04-13 10:56] MaxDesiatov opened #174 "Add support for TopLevelEncoder in XMLEncoder"
After #160 is merged, `rootKey` property is not required, thus making it possible to add an implementation of `TopLevelEncoder`.

[2020-04-13 12:21] kasperkronborg commented on #168
Hi @MaxDesiatov,

For when is the next release scheduled? Waiting in anticipation for this.

Thanks for a great XML coder!

[2020-04-13 16:25] MaxDesiatov commented on #174
Resolved in #175

[2020-04-13 16:25] #174 closed

[2020-04-13 17:41] MaxDesiatov commented on #168
Hey @kasperkronborg, this is now published in the 0.11 release and is available with SwiftPM, CocoPods and Carthage. Thanks for your feedback, I appreciate your support 🙂

[2020-04-24 21:36] ksoftllc opened #177 "How to encode as an empty element"
I have a need to output an empty element, such as the PhoneNumbers element in this example:

[code]

Here is the struct:
[code]
I have tried the following values, but none appear in the encoded XML at all:
[code]

I want the encoded XML to include the PhoneNumber element even when empty. Is that possible? If so, how?

Thanks!

[2020-04-27 19:17] MaxDesiatov commented on #177
Hey @ksoftllc, have you tried something like this?

[code]

This assumes that elements contained within a non-empty `PhoneNumbers` element are called `PhoneNumber`, I hope the code can be easily adjusted otherwise.

Does that resolve your issue?

[2020-04-28 01:39] ksoftllc commented on #177
That was the key. Problem solved. Thanks Max. Nice utility.

[2020-04-28 01:39] #177 closed

[2020-05-01 20:33] ksoftllc opened #178 "Non-string values are being encoded as CData when stringEncodingStrategy = .cdata"
Example:

[code]

Produces:
[code]

Expected:
[code]

[2020-05-01 20:41] MaxDesiatov commented on #178
Thanks for reporting this @ksoftllc, I'll have a look.

[2020-05-03 10:04] #178 closed

[2020-05-03 10:06] MaxDesiatov commented on #178
@ksoftllc this is now fixed in `master` and will be released as a part of 0.11.1. Thanks again!

[2020-05-03 18:23] ksoftllc commented on #178
Thank you. Nice library.

[2020-05-11 18:58] thefredelement opened #180 "(Help using) How to decode this XML?"
Hi,

This is an awesome framework, thank you for making it. I have an XML that looks like this:

[code]

And a Codable that looks like this:
[code]

throws a missing key error... what am I missing?

[2020-05-11 19:16] thomasnordquist commented on #180
`let Things: [ResponseThing]` would decode an array of `Things` not an array of `Thing`

To decode the given XML you would need something like

[code]

[2020-05-11 19:20] thefredelement commented on #180
As soon as I read that I got it, thank you!!!

[2020-05-11 19:20] #180 closed

[2020-05-17 01:33] saintborn opened #181 "Attributes & Elements (Non key Value)"
Hi,

I was trying to decode a value which included 2 decodable types:

[code]

and

[code]

This works absolutely fine unless one of the child elements of Foo (not attributes) is of type `FooList`.

e.g. Foo can contain children Foo's, which appear as a FooList in the data... here is an example of the data (xml):

[code]

If I decode a `FooList` e.g.:

[code]

...by itself, it decodes without any

[2020-05-17 09:11] MaxDesiatov commented on #181
Hey @saintborn, did you try introducing a new intermediate `struct` that represents `FooList`?
The overall types would look like this (I'm omitting the details):

[code]

[2020-05-25 09:12] owenzhao opened #183 "Use 2 spaces instead of 4 when .prettyPrinted"
As Xcode exported .xliff files uses two spaces, I just want them to be aligned.

The left is decoded and then encoded by XMLCoder, the right is Xcode exported original.
<img width="1602" alt="xliffs" src="https://user-images.githubusercontent.com/2182896/82798235-d4339280-9eaa-11ea-9a49-ff76e0387e2d.png">

[2020-05-25 09:31] MaxDesiatov commented on #183
Thanks for reporting this @owenzhao, I'll have a look.

[2020-05-31 07:26] owenzhao opened #184 "" and &quot; are not decoded equally"
In Xcode exported xliff file, there is an element Note, normally it will be like this.

    <note>Class = "NSButtonCell"; title = "Cancel"; ObjectID = "0uT-sC-hK8";</note>

When decoded and encoded by XMLCoder, the above line would be

    <note>Class = &quot;NSButtonCell&quot;; title = &quot;Cancel&quot;; ObjectID = &quot;0uT-sC-hK8&quot;;</note>

The above is OK. As both " and \&quot; is accepte

[2020-05-31 10:41] owenzhao commented on #184
This issue is solved by set `trimValueWhitespaces` to false.

[2020-05-31 10:41] #184 closed

[2020-05-31 11:17] owenzhao opened #185 "&#10; in XML attributes"
In xliff exported by Xcode, \&#10; is a replacement for \n. However, when decoded and encoded by XMLCoder, the \&#10; is replaced by a hard line break

original by Xcode

    <trans-unit id="Got an attributed String.&#10;Will create a image.&#10;&#10;" xml:space="preserve">

decoded and encoded by XMLEncoder

    <trans-unit id="Got an attributed String.
    Will create a image.

    " xml:space="

[2020-05-31 19:00] #183 closed

[2020-05-31 19:05] MaxDesiatov commented on #183
@owenzhao you'll need to set the `prettyPrintIndentation` property on your encoder to `.spaces(2)`. This feature is now available in `master`.

[2020-06-01 01:44] owenzhao opened #187 "" in XML element may not always be escaping"
In xliff exported by Xcode, most of the time there is a note element, like this

    <note>Class = "NSTextFieldCell"; title = "Table View Cell"; ObjectID = "2Mq-0d-Xix";</note>

When decoded and encoded by XMLCoder, the "s in the  element's value are escaping.

    <note>Class = &quot;NSTextFieldCell&quot;; title = &quot;Table View Cell&quot;; ObjectID = &quot;2Mq-0d-Xix&quot;;</note>

Both are ac

[2020-06-01 19:14] #185 closed

[2020-06-01 19:14] #187 closed

[2020-06-01 19:20] MaxDesiatov commented on #185
Hi @owenzhao, thanks for reporting this. With the new API in `master` you can do something like `encoder.charactersEscapedInAttributes += [("\n", "&#10;")]` to make it work for your case.

[2020-06-01 19:22] MaxDesiatov commented on #187
With the new API in `master` you can do something like this:

[code]

This will disable the `&quot;` substitution, but preserve the rest of the default ones.

[2020-06-02 16:58] MaxDesiatov opened #189 "Implement @Element and @Attribute property wrappers"
Property wrappers could be a great fit to replace the `DynamicNodeEncoding` API. E.g.

[code]

would be encoded as `<Tag attribute="foo"><element>bar</element></Tag>`.

There's some bike-shedding needed here with the names, I thought about `XMLElement` instead of `Element`, on the other hand it would be easy to disambiguate as `XMLCoder.Element` if needed. Same with `XMLAttribute` vs `Attribute`.

[2020-06-03 13:08] AppDevelopersDE opened #190 "CData gets ignored"
Hi,
I'm trying to parse the following XML:
`<Model int="123" bool="true">
    <![CDATA[string]>
</Model>`

Into this struct:
`struct Model: Codable {
        let string: String
        let int: Int
        let bool: Bool

        enum CodingKeys: String, CodingKey {
            case int
            case bool
            case string = ""
        }
}`

But string stays empty. If I replace <![CDATA[s

[2020-06-03 19:57] AppDevelopersDE commented on #190
If I change CodingKey enum to
`enum CodingKeys: String, CodingKey { case int case bool case string = "#CDATA" } }` value gets read.

[2020-06-03 21:32] bwetherfield commented on #190
Glad you found a workaround here! Do you get the expected behavior with `<![CDATA[string]]>` (extra `]`) ? Or is there still an issue

[2020-06-04 04:40] saintborn commented on #181
I didn't, what I did was literally:

[code]

Wouldn't this work as Array conforms to Encodable and/or Decodable if it's elements confirm to Encodable, Decodable or Codable (both)

[2020-06-04 04:42] saintborn commented on #181
No, but I'll have a look when I can.

Doesn't an `Array<Foo>` conform to Encodable/Decodable (or Codable if both) if the element `Foo` confirms to Encodable/Decodable (or Codable if both)?

[2020-06-04 06:50] owenzhao commented on #181
enum CodingKeys: String, CodingKey {
        case id, parentid, name, count, haschildren
        case foolist = ""
    }

should be

    enum CodingKeys: String, CodingKey {
        case id, parentid, name, count, haschildren
        case foolist
    }

You shouldn't set `foolist = ""`

Removing

    typealias FooList = Array<Foo>

Full working model should be

    struct Foo: Codable, DynamicNode

[2020-06-04 21:59] bwetherfield commented on #189
I've been playing around with this idea. So far this test case seems especially problematic: https://github.com/MaxDesiatov/XMLCoder/blob/d502e63169cafca8490d9a2571255918e8949ef0/Tests/XMLCoderTests/AdvancedFeatures/AttributedEnumIntrinsicTest.swift#L47-L56

If you look at the rest of the tested type definitions, only the string/int label with key "type" is supposed to be an attribute. Essentially

[2020-06-05 08:30] MaxDesiatov commented on #189
Thanks @bwetherfield, do you have this in a branch to check out? I think I need a closer look to form an opinion.

[2020-06-08 03:34] gavineadie opened #191 "Changing the root node name ?"
The first example in the README is as follows:
[code]
which decodes from the above XML into the following structure:
[code]
My problem is that the name of my `struct` (a 'legacy' use) is not the same as the root node name.  So I want to decode the above XML into:
[code]
I've explored (am still exploring) the many clevernesses of XMLCoder but not seen this feature. Is there a way to do what I want?

[2020-06-08 04:42] owenzhao commented on #191
For encoding,

    let returnData = try? XMLEncoder().encode(note, withRootKey: "communication")

should work.

However, you should do in you own app to upgrade legacy xml to the current. If you don't what to upgrade. You should do something like this

    typealias Communication = Note
    let note = (try? XMLDecoder().decode(Note.self, from: data)) ?? (try? XMLDecoder().decode(Communication.self

[2020-06-08 06:25] bwetherfield commented on #189
Just created a PR with a very experimental branch! Basic dynamic encoding of attributes and elements is working. Still have to deal with node encoding strategies (owned by `XMLEncoder`) objects, as well as decoding and the above test case!

[2020-06-08 12:38] MaxDesiatov commented on #191
I don't think there's any need for typealiases, this works out of the box for me. @gavineadie have you tried this previously?

[code]

[2020-06-11 00:46] EricSites opened #193 "How do I handle encoding and decoding an element and attribute with the same name but different types?"
How do I handle encoding and decoding an element and attribute with the same name but different types?
[code]

Example XML
[code]

Here is what I have done so far, but doesn't work:

[code]

[2020-06-12 00:54] owenzhao commented on #193
For Codable, one property is with one key. In you sample, `coda` in attribute and element shares the same key.  Two properties are with one key. That is a conflict. I don't think there is a way for this other than solving the conflict first.

[2020-06-12 01:14] EricSites commented on #193
This is a valid XML schema that I can't change. I need to parse it.

[2020-06-12 07:01] owenzhao commented on #193
You don't need to change the xml file. Just add another layer.

1. read the xml as String.
2. replacing all "<coda" to something like "<codaE"
3. convert the String to Data.
4. use XMLCoder decode the data.

[2020-06-16 03:07] gavineadie commented on #191
@MaxDesiatov .. you are correct, issue resolved.

[2020-06-16 03:07] #191 closed

[2020-07-03 07:20] 0xTim commented on #181
I have another related use case that I'm struggling to work. My XML looks like
[code]
And I have types to decode it currently looking like:
[code]

However the `COL` property on `ROW` is always `nil`. I can read the `RECORDID` fine, which is great, but then I can't read any data inside the attribute - any idea?

[2020-07-03 11:19] MaxDesiatov commented on #181
Hi @0xTim, you're comparing `intValue` of `CodingKey`, which I think is always zero in this case since this property is supposed to be used for array indices. I've updated `nodeDecoding` to this and it works for me with your example:

[code]

I agree that the `nodeDecoding` API seems to be not so ideal at the moment, we have property wrappers support for that in the works in #192.

[2020-07-03 13:18] 0xTim commented on #181
Ah brilliant, thanks @MaxDesiatov !

[2020-07-06 03:16] JamesVanBoxtel opened #194 "DynamicNodeEncoding doesn't work on root element"
Thanks for the amazing open source project.

While using it I noticed that implementing `DynamicNodeEncoding` in order to encode a property as an attribute works great for sub elements, but always encodes as an element for the root element.

[code]

output is something like

[code]

[2020-07-06 09:45] MaxDesiatov commented on #194
Thanks for creating the issue, I'll have a look.

[2020-07-06 15:09] MaxDesiatov commented on #194
@JamesVanBoxtel are you sure you're using the latest version of XMLCoder? I've tried to reproduce the issue [in a test](https://github.com/MaxDesiatov/XMLCoder/pull/195/files), but the `version` attribute is correctly encoded as an attribute. Could you have a look at that test to verify that I'm not missing anything? Maybe there's something else in your code that could have an impact?

[2020-07-09 21:40] AppDevelopersDE commented on #190
same behavior with the extra ] - if I use "#CDATA" as coding key it works too

[2020-07-28 00:52] tantakan opened #196 "Fail to build in Xcode 12 beta"
The following error occurs on the Carthage build:
[code]

environment:
Xcode Version: 12 beta 3
Carthage: 0.35.0

related issue:
Undefined symbol: type metadata for Swift._StringObject.Variant
https://developer.apple.com/forums/thread/649918

[2020-07-28 08:34] MaxDesiatov commented on #196
Thank you for reporting this. Unfortunately, it seems like an Xcode bug, so I'm not sure what can be done about that at the moment. If it persists in GM or maybe even later betas we'll need to start looking for some workaround. PRs are very welcome, as usual 🙂

[2020-08-05 05:10] tantakan commented on #196
Thank you for your reply, but it looks fixed in Xcode 12 beta4 (String issue) 👀

[2020-08-05 05:10] #196 closed

[2020-08-07 11:20] bitflying opened #197 "How to stop parsing subnode from some lower level"
Hi, Friends,

For XML string,
[code]
I hope the XMLCoder to parse tag id/title/category/description, not parse the tag <italic> in <description> any more. So, book.description's  content will be "Two bored children have their lives turned upside down when <italic>a talking cat</italic> comes to visit them." instead of "Two bored children have their lives turned upside down when a talking cat comes

[2020-08-16 00:25] MartinP7r opened #198 "Larger xml file takes very long to decode"
Hello there and thanks for providing this great package!

I have a 108mb (language dictionary with just under 5 million rows) xml file that takes over an hour to decode.
At peak the memory consumption is over 2GB (according to debug navigator).

It will finish decoding eventually (I actually did let it run for an hour once). Smaller sections of the file decode just fine.

I wonder if you've experi

[2020-08-16 10:18] MaxDesiatov commented on #198
Hi @MartinP7r, thank you for reporting this.

I think that splitting the file is the best way to make it faster short term. Also, if your XML has deep nesting, that may slow it down too. I'd be very interested to see profiling results if you can build in Xcode and [profile it with Instruments](https://www.raywenderlich.com/397-instruments-tutorial-with-swift-getting-started).

We use the standard

[2020-08-18 00:19] MartinP7r commented on #198
Thank you for your quick response!
I'll try and find out where all that time is spent. Probably towards the weekend, since it's a personal project I'm working on.
I'm not too experienced with Instruments, so thanks for the link! If you have any suggestions what else too look for, please let me know.

[2020-08-19 18:39] MaxDesiatov commented on #197
Hi @bitflying, unfortunately there's no way to handle it this way. This is a limitation of Apple's [`XMLParserDelegate`](https://developer.apple.com/documentation/foundation/xmlparserdelegate) that Foundation provides. I don't think there's a way to tell the Foundation's XML parser to avoid parsing content of a specific node.

[2020-08-21 04:16] MartinP7r commented on #198
I've let it run for a while
[code]
this is with hidden system libraries, I think Foundation related information is hidden by this? Which makes it somewhat useless. 😅

Not hiding them makes everythin really hard to read.

[code]

If the .trace file for instruments would help, I can share it via google drive.

[2020-08-21 06:33] MartinP7r opened #199 "ENTITY tags"
The xml file I'm working with contains a lot of `<!ENTITY...>` style abbreviations inside the DOCTYPE tag that don't seem to get picked up. Is there any configuration I have to do in order to make it work?

the tags look like this:

[code]

and one example:

[code]

the entry->sense->pos tag should expand `&unc;` into `unclassified` because of `<!ENTITY unc "unclassified">`, but in the resulting s

[2020-08-21 06:49] MartinP7r commented on #199
Seems like this might actually be a problem with MSXMLParser itself:
https://stackoverflow.com/questions/21784131/nsxmlparser-not-resolving-internal-entity

Some information about entity tags:
https://www.logicbig.com/tutorials/misc/xml/xml-entity.html#:~:text=Internal%20Entities%3A%20An%20internal%20entity,defined%20in%20an%20separate%20file.

maybe relevant apple documentation:
https://developer

[2020-08-24 00:30] MartinP7r commented on #198
I think you might have it backwards since in this view the call tree is inverted.
Sorry I did not mention that, I used the settings as described in the tutorial you recommended above:
<img width="378" alt="Cursor_and_Instruments" src="https://user-images.githubusercontent.com/2669027/90992659-2b511c80-e5ec-11ea-9b07-d6acc9a29c3e.png">

I'd be happy to isolate the profiling from UI logic to make su

[2020-08-26 01:57] MartinP7r commented on #198
Btw, all the `retrieveDict()` method does is:

[code]

Just to clarify again, the call tree is inverted, so Swift UI is calling `retrieveDict`, once only.

[2020-08-26 13:34] MaxDesiatov commented on #198
I think the logic in `KeyedStorage` looks like the hottest path here, and it's needed to make sure that order of elements is preserved when encoding. Maybe we could could optimize parts of it, or maybe make it configurable to allow turning it off, but this would require some time to develop and to make sure that existing test cases aren't broken.

Do you plan to release your project or at least pa

[2020-08-29 05:43] MartinP7r commented on #198
Thank you and sorry for the late reply.

I'm not sure I fully understand. How does this come into play when trying to decode, not encode?

I can share what I have so far in terms of models. It's still incomplete and doesn't cover all of the available tags yet, though.

[2020-08-29 05:44] MartinP7r commented on #198
[code]

[2020-08-29 09:37] MaxDesiatov commented on #198
I think the most direct way to get exposed to that is to decode into enums with something like XHTML and other similar cases:

[code]

A super naive way to decode this would be:

[code]

But with this model you'd never know that the `<span>` element comes after the first two `<p>` elements and before the third `<p>` element.

Then a more suitable model would be:

[code]

XMLCoder decodes (and symm

[2020-08-30 03:23] MartinP7r commented on #198
Thank you so much for the detail explanation!
I think I understand now. Depending on the requirements of the model, essential context would get lost without keeping the order of different types of elements within the same level of the xml structure.

I've gone through the documenting comments in `JMdict`'s header and so far I don't think there's any such case.
So, I'd really like to try and decode

[2020-08-30 08:11] MaxDesiatov commented on #198
Yes, that's correct. The elements themselves are stored in a `buffer` that fully preserves the order, but there's also a dictionary that maps from keys to indices in the `buffer` array. When elements are queried by key, you get them through that dictionary, as far as I remember.

[2020-09-14 02:28] RichardAtDP opened #201 "How to decode <itunes:episode> tags"
How would one go about decoding a tag with a colon in it, for example:

<itunes:episode>544</itunes:episode>

Thanks

[2020-09-14 10:04] MaxDesiatov commented on #201
Hi @RichardAtDP, the colon in the name denotes the presence of the `itunes` namespace. You could strip it with the `shouldProcessNamespaces` property on `XMLDecoder`, [as described in `README.md`](https://github.com/MaxDesiatov/XMLCoder#stripping-namespace-prefix). Does that answer your question?

[2020-09-14 16:07] RichardAtDP commented on #201
Thanks @MaxDesiatov - I'm wondering how to integrate that option in a Combine pipeline?

[2020-09-14 16:11] MaxDesiatov commented on #201
Did you check [the existing section about Combine](https://github.com/MaxDesiatov/XMLCoder#integrating-with-combine)? The decoding operator takes a decoder instance as an argument, you can pass your own with `shouldProcessNamespaces` set as needed.

[2020-09-14 16:17] RichardAtDP commented on #201
Got it! Thanks for your help.

For reference

`let decoder = XMLDecoder()
decoder.shouldProcessNamespaces = true

           self.cancellable = URLSession.shared.dataTaskPublisher(for: url)
            .map {  $0.data }
            .decode(type: Response.self, decoder: decoder )
            .catch { err in
                return Just( Response(info:info), error: "\(err)") )
            }

[2020-09-14 16:17] #201 closed

[2020-09-21 14:47] alexanderwe opened #202 "How to encode empty tags as enum based on name"
Hey, at first thanks a lot for making this library, great work!

I am rather new to the XML game and trying to decode WebDAV responses.
So I have the following response from the server:

[code]

And the following `Codable` models:

[code]
-> This implementation does not work, because it is complaining about the `ResourceType` enum not conforming to `Codable` because of the missing  method implemen

[2020-10-02 09:39] mickeyl opened #203 "SOAP Usability"
I wonder whether XMLCoder can be used / improved to handle SOAP documents.

SOAP documents make excessive use of XML namespaces, e.g. consider the following SOAP document example:

[code]

This example is used for ONVIF (which is a standard in the field of IP-camera surveillance devices) to gather the capabilities of a certain device. It is sent from the gathering device (client) to the camera dev

[2020-12-08 16:16] JonSalerno opened #204 "Build the libraries for distribution."
Currently the project has not been set to build the libraries for distribution. If we set it to "Yes", then XCode will generate the necessary files for different versions of swift to interact with each other. Then when people update XCode they will no longer have to update the framework with it (Once that gets updated).

[2020-12-08 16:32] MaxDesiatov commented on #204
Unfortunately, ABI stability will require us to keep API stability too, which we cannot guarantee at the moment. The API of XMLCoder is still evolving. We could consider enabling ABI and module stability after the release of XMLCoder 1.0 though.

[2020-12-08 16:36] MaxDesiatov commented on #204
Additionally, XMLCoder maintains compatibility with Swift 4.2, while module stability is only available starting with Swift 5.1. As this library is not distributed as a binary, I'd rather keep compatibility with Swift 4.2 at the small cost of recompiling the project when a new Xcode version is realeased. Besides, I'd recommend the usage of SwiftPM integration of Xcode (available starting with Xcod

[2020-12-12 13:21] TJDev opened #205 "Empty date tag cannot be decoded since version 0.10.0"
I am using a xml api with a possible nullable date tag. Up to version 0.9.0 it was no problem decoding the data but since 0.10.0, I am getting the following error:
[code]

I reproduced the behavior with the following struct ...
[code]

... and test.
[code]

P.S.: Is it normal that when a decoding error occurs inside a sub struct, that the original error is hidden?

[2020-12-17 08:52] nilsnilsnils opened #206 "Low performance - Speed Up possibilities"
Hi,

I have a really simple XML (no namespace features etc) of around 1MB.
But it takes around 0.7s to decode the whole XML.
This is too long for me.

Is there a way to speed up the decoding process.
Maybe by deactivating some decoding features etc. ?

[2020-12-20 15:11] mickeyl commented on #206
Have you run it through instruments to find out any potential bottlenecks?

[2020-12-30 21:16] armadsen opened #207 "Empty (self-closing) tags are decoded as empty string instead of nil"
I have some XML that looks like this:

[code]

And the corresponding struct:

[code]

When I decode this, `note` is set to the empty string (`""`), rather than nil, which is not what I expect nor want. Is there a way to override this behavior? I can special case it in my own `decode(from:)`, but that's a bit of a hassle, so I'm hoping there's some easier way.

(Complete example program here: [main

[2020-12-31 09:09] owenzhao commented on #207
I think this is on purpose. As there is note tag in the XML file. For nil, it means there is no note tag at all. If you want otherwise, you can check the value that you get and set it nil when the value is empty.

[2021-01-11 11:14] Maxatma opened #208 "decoder.shouldProcessNamespaces doesn't work for DynamicNodeDecoding?"
Seems like

[code]

**decoder.shouldProcessNamespaces** doesn't work for DynamicNodeDecoding attributes:

[code]
this will produce:
`Fatal error: 'try!' expression unexpectedly raised an error: Swift.DecodingError.keyNotFound(CodingKeys(stringValue: "name", intValue: nil), Swift.DecodingError.Context(codingPath: [CodingKeys(stringValue: "name", intValue: nil)], debugDescription: "No attribute foun

[2021-01-15 14:53] peterent opened #209 "Class vs Struct for Decoding"
Let's say I have this simple XML:
[code]
And I wish to decode it into the following Swift classes:
[code]

I've set up set up a function like this:
[code]
When I call it as follows:
[code]
It only parses the MyBase class (`firstName` and `lastName`), ignoring `address` in the MyAddress class. Why is that?

I can work around this by using `CodingKeys` and implementing `encode` and `decode` function

[2021-01-15 15:02] MaxDesiatov commented on #209
Unfortunately, you have to implement `init(from decoder:)` and `encode` functions manually when using classes with inheritance, this is how `Codable` works. [This is also the case for `JSONDecoder`](https://stackoverflow.com/a/44605696/442427).

[2021-01-15 15:19] MaxDesiatov commented on #209
A workaround could be to use composition instead of inheritance:

[code]

This way you'd only need to maintain custom `Codable` implementation only for the base `Person` type, while any fields added to `NameDetails` or `Address` would be handled automatically. I'm using JSON as an example here, but I would expect it to work the same with XMLCoder.

@peterent does that help with your issue?

[2021-01-15 15:34] MaxDesiatov commented on #209
Another option is declare custom `Codable` conformance in your derived `MyAddress` class [as shown in this SO answer](https://stackoverflow.com/a/48523100/442427). But you still have to tell the decoder that you're decoding `MyAddress` upfront, it won't be able to figure out whether to decode a base class or a derived class dynamically.

[2021-01-26 15:11] MaxDesiatov commented on #194
With no updates from the OP and no similar reports I'm closing this as stale

[2021-01-26 15:11] #194 closed

[2021-01-29 16:49] dmitrymazo commented on #190
It doesn't look like an error, it's just undocumented. @MaxDesiatov, please add an example to the Readme. Thanks. P.S.: cool project!

[2021-02-05 14:05] peterent opened #211 "Decode into Existing Object"
If I instantiate a Codable object, is there way to decode into that specific instance, rather than supplying the Type?

try? decoder.decode(into: myCodableObject)

Regards
Peter

[2021-02-10 14:15] transat opened #212 "Help with mix of attributes and elements"
I'm having trouble decoding the following XML structure:

[code]

With the above code I can only read the top level parameters but not the array of files.
Any tips?

[2021-02-10 15:01] transat commented on #212
Ah. All good! Got it working.

[2021-02-10 15:01] #212 closed

[2021-02-10 17:21] MaxDesiatov commented on #189
Reopening this as a reminder to add basic docs for this to `README.md`.

[2021-02-17 08:20] CineDev opened #213 "ISO8061 date formatting isn't working"
I got an XML with dates formatted with ISO8061, but the XMLCoder can't decode them.
I've tried to user the ISO8601DateFormatter and, by itself, it does the job well. But I can't pass it to the XMLDecoder like this:
`decoder.dateDecodingStrategy = .formatted(ISO8601formatter)`
That's because you've restricted the . formatted case to a DateFormatter class instead of Formatter protocol.
Please, fix t

[2021-02-21 22:55] itcohorts commented on #203
@mickeyl I have a similar use case. Did you ever figure this out?

[2021-02-22 08:40] mickeyl commented on #203
Unfortunately not – at the time I was in a hurry and so I couldn't dive deep enough in to XMLCoder to make it happen. Thus, I resorted to a bunch of my old SOAP-classes in Objective-C. Nowadays, that project is converting their SOAP-APIs into JSON, so I have no more immediate need.

I will have to come back to this sooner or later when I implement ONVIF for Swift, so I still have a need though. Pe

[2021-02-26 22:36] wooj2 commented on #189
Hi @MaxDesiatov !

This feature seems kind of cool, but I was trying to use it with a map, and ran into some trouble.

1.  Is it possible to use the `@Attribute` and `@Element` property wrappers with maps and/or lists?  For example, uncommenting the two lines in the example below seem to give me two compilation errors:

* First error: `Class 'Cookbook' has no initializers`
* Second error: `Extrane

[2021-03-01 20:01] MaxDesiatov commented on #189
@wooj2 do you have to keep `Cookbook` a class instead of a struct? The problem I guess is caused by the fact that classes don't get implicit memberwise initializers.

As for `DynamicNodeEncoding` deprecation, when I'm 100% sure that `@Attribute` and `@Element` are able to cover all cases that `DynamicNodeEncoding` covers, I'd like to deprecate the latter. Providing two different ways to achieve th

[2021-03-03 04:12] kneekey23 commented on #189
@MaxDesiatov how can the property wrappers handle arbitrarily nested dictionaries that have attributes on them?

[2021-03-03 10:55] MaxDesiatov commented on #189
Can you elaborate please? What XML are you trying to decode and how would you like your model types to look?

[2021-03-03 19:50] kneekey23 commented on #189
In our codebase, we need to be able to write custom implementations for encode and decode. It does not compile when we try

[code]

This code errors and we should be also able to set everything to nil if we wanted to in the decoder as well.
<img width="1258" alt="Screen Shot 2021-03-03 at 11 50 20 AM" src="https://user-images.githubusercontent.com/8533749/109863565-a38d4000-7c16-11eb-99ff-fd45b618

[2021-03-04 18:25] MaxDesiatov commented on #189
Thanks for the detailed example! I'll need some time to have a closer look at this and come up with a solution. I don't have a good estimate for this right now, but I can say for sure that I won't deprecate anything until cases like this are covered and we have a clear migration path.

[2021-03-04 22:25] itcohorts commented on #203
@mickeyl Sorry for the delay in response! I liked the `namespace` proposal. I got distracted by some other pressing work but I'm circling back to this project now. I've done a bit of Swift coding, but I still consider myself a noob with Swift. I'd be happy to work on this with you but would definitely need guidance.

[2021-03-30 12:18] transat commented on #209
@MaxDesiatov Another question related to Class vs Struct. I've got decoding working with a class but when i change that class to a struct, the decoding no longer works. Why would that be?

[2021-03-30 12:19] MaxDesiatov commented on #209
It's very hard to say without looking at the actual code. Do you have an isolated reproducible test case for this?

[2021-03-30 16:33] NSExceptional opened #215 "How do you decode all nodes into a list, preserving order?"
Lets take your book example:

[code]

If we switch it around like this, so that the order of elements no longer follows your set schema:

[code]

… we would have to decode it like so:

[code]

I don't see a way to possibly decode this by hand. If you iterate over the container's keys and try to decode them, you will get stuck at the first `category` (Kids) which will be decoded twice, and never de

[2021-03-31 01:33] owenzhao commented on #215
The sample is

struct Book: Codable, Equatable, DynamicNodeEncoding {
    let id: UInt
    let title: String
    **let categories: [Category]**
}

And yours are

let elements: [Element]

So in you code the `category` should be [[String]], and the enum couldn't do that.

That's my opinion, I didn't test it with code. You should give it a try.

[2021-03-31 15:43] NSExceptional commented on #215
That's a really interesting and harsh response. I didn't know I was asking for a feature request when I opened the issue.

I'll take that to mean "what you're asking for is not possible due to limitations of the Codable APIs," though, which would indeed make this a feature request, I guess.

[2021-03-31 15:49] NSExceptional commented on #215
For anyone else reading, I would like to clarify with a better example:

[code]

Is it possible to decode these retaining order and type information? I don't know how to do this with this framework.

[2021-03-31 15:50] NSExceptional commented on #215
For anyone else reading, I would like to clarify with a better example:

[code]

Assuming these tags won't contain other tags, is it possible to decode these, retaining order and type information? I don't know how to do this with this framework. @MaxDesiatov maybe you know the answer to this?

[2021-04-01 01:15] transat commented on #209
I'll try to set something up.

[2021-04-06 05:20] owenzhao opened #216 "DynamicNodeEncoding Works with List Type, but Not with List's Element Type"
[code]

[code]

Results:

[code]

Expected:
The `id`s in number should be attributes instead of elements.

If I change ` let numbers = List<Bar>()` to ` var numbers = [Bar]()`, the issue is gone. So I think there must be something wrong here and I don't know what to do next. As the Realm requests to use `List` instead of `Array` here. Any suggestions?

[2021-04-06 05:28] owenzhao commented on #216
[List](https://docs.mongodb.com/realm-sdks/swift/latest/Classes/List.html)

<img width="745" alt="截屏2021-04-06 下午1 28 19" src="https://user-images.githubusercontent.com/2182896/113663082-f6f22280-96db-11eb-8507-ba609be25b69.png">

[2021-04-06 05:39] owenzhao commented on #216
Solved. I read the source code of XMLCoder, and in `DynamicNodeEncoding.swift`, there is

[code]

So I make it as a copy for List

extension List: DynamicNodeEncoding where Element: DynamicNodeEncoding {
    public static func nodeEncoding(for key: CodingKey) -> XMLEncoder.NodeEncoding {
        return Element.nodeEncoding(for: key)
    }
}

And it worked.

[2021-04-06 06:04] owenzhao opened #217 "DynamicNodeEncoding Doesn't Work with Optional"
[code]

[code]

[code]

As you can see from the results, there were different. We expected they should be the same.

[2021-05-20 21:16] xfxian commented on #10
Following up on your Swift 5.1 comment -- this works great for me using dynamic member lookup, however I wasn't able to generify it yet. I also tried this only with decoding, I'd guess there's more work to get it to encode correctly:

[code]

That could decode

[code]

And still allows me to nicely access the list through just `container.items`.

[2021-05-31 20:15] mickeyl commented on #203
@MaxDesiatov Do you have any opinion on the `namespace` proposal?

[2021-06-01 14:43] MaxDesiatov commented on #203
Sorry for the delayed reply. I'm not sure I'm following, how would a conformance to the `Namespaced` protocol look like for it to work with the XML example you provided? What are keys and values in the `namespaces` dictionary?

[2021-06-03 10:31] mickeyl commented on #203
@MaxDesiatov Please see the following (not working) demo which hopefully explains how I would imagine the look and feel at the call site:

[code]

[2021-06-13 07:47] MaxDesiatov commented on #203
I'm a bit worried about the approach with the `Namespaced` protocol, it doesn't allow to customize namespaces for specific property or to avoid using namespaces for some properties altogether. `@Namespaced` property wrapper looks to be much more localized, although I'm unsure if passing a dictionary is better than passing just a simple pair of strings? Can a property ever have more than a single n

[2021-06-13 10:07] mickeyl commented on #203
Well, in that case we could make it an (optional?) non-static property in the protocol and have it set as part of the element construction.

The dictionary conveys more semantics, but yes, a pair of strings would also do. In fact, strictly spoken, only the local parts are a necessity. If you wanted, you could compute the prefixes on-demand (although well-known prefix parts are kind of recommended,

[2021-06-13 12:21] mickeyl commented on #203
Let me add: Of course, I can implement all that on top of XMLCoder, it just feels more natural — to me at least — to have builtin support for the creation of namespaced documents.

[2021-06-14 21:10] MaxDesiatov commented on #203
I hope we can avoid introducing more than a single way to achieve the same thing. What would be a benefit of providing a protocol and a property wrapper at the same time? Of these two, the property wrapper so far seems to be the most flexible option.

Additionally, in the case of a dictionary passed in the parameter, what would happen if two prefixes are supplied?

[code]

seems to be quite unambi

[2021-06-18 08:29] mickeyl commented on #203
The property wrapper can't be assigned to a top-level object, but that's all. Since the envelope needs special treatment anyways, we could probably do without the protocol.

Looks good.

[2021-06-18 12:07] MaxDesiatov commented on #203
Awesome, thanks for the reviewing the approach! One could start with a property wrapper, and then we could consider additional approaches if needed. 👍

[2021-06-21 13:07] 1n9i9c7om opened #218 "DynamicNodeEncoder not working on child attribute"
Hi,

first of all, thanks for this project. I'm just starting with Swift and so far this library hasn't been hard to understand.

However, I'm having a problem when it comes to encoding an attribute of a child element as an attribute instead of an element.

I can't provide the exact code, but the situation is similar to this:
[code]

[code]

[code]

When I encode an instance of class B, I can see

[2021-07-06 19:29] wooj2 opened #219 "Decoding special whitespace characters"
Hi,

I'm running into an issue where I think decoding is happening improperly with special characters.

For example:

Assuming the following structure:
[code]

I believe I should be able to write the following code:
[code]

However, the assert fails because this string is decoded as `escaped data: &lt;` instead of the expected value of `escaped data: &lt;\r\n`.

1.  Is this a bug in the way we are

[2021-07-07 16:14] MaxDesiatov commented on #219
I think setting `trimValueWhitespace` to `false` is the way to go here. What exactly is preventing you from using that property? Would you be able to provide a test case? If you aren't satisfied with the behavior of `trimValueWhitespace`, how exactly would you like it to be changed, or what other configuration would you like to be introduced?

[2021-07-09 17:13] wooj2 commented on #219
Hi Max,

Thanks for getting back to me!  Sorry for the delay-- I've been feeling under the weather for the last couple of days.

So, to give you some context, we are generating custom decoder (and encoder) logic, because we have particular requirements about how dates/lists/maps (and nested lists and maps) are serialized and deserialized.  This is not fun, but seems required given how many require

[2021-07-09 17:28] MaxDesiatov commented on #219
Are places where you want whitespaces to be preserved and to be ignored predefined in some way? Maybe we could come up with something like `trimValueWhitespaces`, maybe a property wrapper that would be applied not to the whole decoder, but hierarchically, to properties you've applied it to?

[2021-07-09 17:40] wooj2 commented on #219
Thanks for getting back to me so quickly!

If I understand correctly, you're suggesting something like this:
[code]

I'm not sure if that would work, because, in our case of `XmlListsOutputResponse`, we could have whitespace as a value for one of nested members.  For example:
[code]

I think it is impossible to know whether the xml payload will have these special characters ahead of time, so it do

[2021-07-09 18:54] MaxDesiatov commented on #219
Yes, a property wrapper to any member you'd like to ignore or not ignore whitespaces is what I was suggesting.

What about some configurable whitespace detection? Or would you be able to detect whitespace combinations not suitable for you in the decoder, with a regex or something like that?

[2021-07-09 20:54] wooj2 commented on #219
I think it would be difficult and/or brittle to come up with a regex that would work reliably.  For example, if we skipped/detected any time we saw `\n <n-number of white spaces>`, how would we know that someone didn't encode that value into the inner member versus whitespace that we want to ignore?

Furthermore, the decoder implementation defines that there is a container with a key `member`.  Wi

[2021-07-10 00:48] MartinP7r opened #220 "Decoding Dictionary"
This might be more general Codable related problem. Please let me know if you think it's beyond the scope of this project.

I have some xml data that looks like this:

[code]

Which seems to me would be most fitting to decode into a dictionary, like
[code]

Inside the parent struct:
[code]

However, I haven't found a clean way to do this with normal container decoding and XMLCoder. What I am curre

[2021-07-14 13:16] MaxDesiatov commented on #219
What prevents you from not overriding the decoding initializer and then using the auto-synthesized one instead? Or is there anything you need to customize there? What are the customizations then?

[2021-07-15 17:28] wooj2 commented on #219
One of many reasons why the auto-synthesized encoder/decoder logic does not work is that lists and maps can be serialized deserialized in different ways.  For example, a struct like the following:
[code]

And adding "example1", "example2", and "example3" strings into both of the lists, would need to be serialized in the following manner:

[code]

There are other examples that have to do with speci

[2021-07-15 18:33] wooj2 commented on #219
I started playing around with the parser, and using the `SimpleScalar` example above (where we have some data that looks like `<stringValue>escaped data: &amp;lt;&#xD;&#10;</stringValue>`, I'm seeing that the `process` function in `XMLStackParser` located [here](https://github.com/MaxDesiatov/XMLCoder/blob/a469f60719ac6cc263cfb380b4aa000236bdfefd/Sources/XMLCoder/Auxiliaries/XMLStackParser.swift#L

[2021-07-15 19:44] MaxDesiatov commented on #219
If you think the bug is in tokenization, that won't be an easy fix I'm afraid. More like a very complicated fix where we'd have to write our own parser/tokenizer. We're using [`XMLParser`](https://developer.apple.com/documentation/foundation/xmlparser/) class and [`XMLParserDelegate`](https://developer.apple.com/documentation/foundation/xmlparserdelegate/) protocol from Foundation.

In a way, that

[2021-07-15 19:45] MaxDesiatov commented on #219
If it's some unexpected behavior in Foundation's tokenizer/parser, hopefully it's customizable enough that we won't need a rewrite. But that remains to be seen.

[2021-07-27 01:24] wooj2 commented on #219
Hey Max!,

I'm not entirely sure if this is a valid approach, but I can effectively work around my issue by enabling `trimValueWhitespaces = false` and patching the code in this [draft PR.](https://github.com/MaxDesiatov/XMLCoder/pull/221)

 The problem I was observing was that when turning on `trimValueWhitespaces = false`, and attempting to decode a payload like:
[code]

.. i noticed that, while

[2021-07-30 11:41] #219 closed

[2021-08-02 23:49] wooj2 opened #224 "Encode element with empty key, no elements, and attributes"
Hi @MaxDesiatov

I may have found an issue with the way we are serializing XML.

Consider a top level structure `SimpleScalarPropertiesInput`:

[code]

Notice that `SimpleScalarPropertiesInput` has a single member called `nested` of type `NestedWithNamespace`:
[code]

Note that we are using `Key` as a way to use custom CodingKey values (rather than having `enum CodingKey: String, CodingKey`).
[cod

[2021-08-04 22:14] wooj2 commented on #224
Hi @MaxDesiatov

In taking a step back, I tried to avoid using empty keys, but unfortunately, I am unable to find a way to achieve this in an elegant/generic manner.

To re-cap, in the initial post, we have two data structures: `SimpleScalarPropertiesInput`, and `NestedWithNamespace`.

In `SimpleScalarPropertiesInput`'s `encode` function, it is responsible for:
1.  encoding the top level namespace

[2021-08-05 22:28] wooj2 commented on #224
Thanks again!

Resolving:
https://github.com/MaxDesiatov/XMLCoder/pull/223

[2021-08-05 22:28] #224 closed

[2021-09-03 08:45] mjunkmyjunk opened #227 "how to "skip" certain XML tags / element in a TCX file"
I'm working on a fitness app that uses the pod from TcxDataProtocol ( https://github.com/FitnessKit/TcxDataProtocol/issues/10#issue-987377764 ) and having some issues in decoding some TCX files due to the way how TCXs are formatted across different sites.

eg: (From Strava)
[code]

From Garmin
[code]

From: RideWithGPS
[code]

As you can see, the headers are all slightly different.

This is what t

[2021-09-03 09:15] MaxDesiatov commented on #227
I have a somewhat silly suggestion, but I hope it's somewhat reasonable from a certain perspective. Do you actually have to ready any data from these attributes? If not, the simplest approach would be to remove them from your coding keys and the list of properties on the type you're decoding into.

If you do need values of these attributes, would you mind explaining how you intend to use them?

[2021-09-03 09:33] mjunkmyjunk commented on #227
Its not actually a silly idea. Its just that I'm at the point where it's a "I don't know".

As Far as I can tell, there is no actual usage of these data/tags at all. At least for my app's usage, I do not care about them at all, but the upstream Pod (TcxDataProtocol) is/has them as part of their package (which I'm using) and will exit w/ error.

There's also other instances within the XML file whic

[2021-09-03 09:52] MaxDesiatov commented on #227
Yes, namespace prefix is stripped by default, [you'll have to set `shouldProcessNamespaces` to `true` if you'd like the parser to be namespace-sensitive](https://github.com/MaxDesiatov/XMLCoder#stripping-namespace-prefix)

[2021-09-03 09:59] mjunkmyjunk commented on #227
Thanks for the link.

Is there any capability to address the instances of ignoring / skipping these tags? Like a "ignoreIfNotPresent"?

[2021-09-03 10:00] MaxDesiatov commented on #227
Did you try making their corresponding properties optional?

[2021-09-03 10:01] MaxDesiatov commented on #227
Ignoring and skipping attributes is only possible if you make properties that match them optional or remove them completely. Otherwise it's unclear what the value of that property should if an attribute is not present.

[2021-09-03 10:04] mjunkmyjunk commented on #227
Could you provide guidance on how to make them "optional"
The possible issue that I foresee if that these conditions can also influence the generation (encoding) of the data into a TCX file. (Its entirely possible that a malformed Header XMLxx tags would render these TCXs not valid and can't be accepted into these Garmin / Strava and others sites.

[2021-09-03 10:09] MaxDesiatov commented on #227
I will need to see how exactly your types and properties into which you decode these attributes look like to provide such guidance. Would you be able to share a more complete example of Swift types that you use for decoding? Snippets with only coding keys aren't enough.

[2021-09-03 10:25] mjunkmyjunk commented on #227
Thanks!
The Upstream pod which I'm using is this -> https://github.com/FitnessKit/TcxDataProtocol
The example TCX file I have shared in a zip file -> https://github.com/MaxDesiatov/XMLCoder/files/7104615/zzz_Demo.STRAVA.-copy.tcx.zip

For decoding, I'm essentially using these lines (from the TcxDataProtocol website)
[code]

I'm not exactly sure what you mean by **"share a more complete example of

[2021-09-03 10:29] MaxDesiatov commented on #227
Right, I didn't realize that library was involved. I think they should update their code here https://github.com/FitnessKit/TcxDataProtocol/blob/master/Sources/TcxDataProtocol/Elements/TrainingCenterDatabase.swift#L34-L53

to something like

[code]

That would make it use optional `String?` instead of `String` and hopefully will make it work with your variety of files.

[2021-09-03 11:07] mjunkmyjunk commented on #227
this is a "duh" moment for me. When you mean ```optional`` I didn't even realise it was going to be as simple as putting the ```?``` into the ```String?```

I just tried this and it worked for a variety of files that I threw at the decoder. Strava and Tapiriik.Sync  works. (Ride with GPS has weird structure and doesn't have element tags at all. Since I'm not entirely sure what would happen if I ma

[2021-09-03 11:31] MaxDesiatov commented on #227
Happy to help 🙂 Do you think there may be any more issues with this approach? Can the issue be closed otherwise?

[2021-09-03 12:32] #227 closed

[2021-09-03 12:32] mjunkmyjunk commented on #227
Oh Yes.. yes.. I forgot to close it..

Thanks again!!

[2021-10-26 15:10] ThePredators opened #231 "[Attributes Encodage] Encoding an Attribute doesn't work anymore !"
Hello,

I tried to encode a structure that has a attribute but it seems it doesn't work. It encode elements but no attributes.

How can I make this work ?

[code]

when I call this  :
[code]

The content of xmlStr is :
[code]

I don't understand why the attribute datum is not set !

Thanks for help.

[2021-10-27 14:41] #231 closed, assigned to nobody

[2021-11-01 20:20] CWeykopf commented on #202
Is there a solution. I run into a similar problem.

[2021-11-04 21:22] CWeykopf opened #232 "namespace="##any" or namespace="##other""
I hava a .xsd with this type. I've tried to decode the elements from ##other into an array but without success. There are several types with ##other or ##any namespaces.
I have no clue how to handle it. I need the attributes too.

    <complexType name="`TransformType`" mixed="true">
        <choice minOccurs="0" maxOccurs="unbounded">
            <any namespace="##other" processContents="lax"/>

[2021-11-23 16:00] ABridoux commented on #10
I found a short solution that works in our app by reading this thread. So in case it's useful for someone here it is:

[code]

It can be used in the following structs to decode the following XML.

[code]

[code]

[2021-12-02 15:35] marcblanchet opened #236 "regression on attributed intrinsic"
I used to use 0.8.0 which decoded fine XML attributes, with enum CodingKeys ...  case value. With latest, it does not work anymore. Needed to write case value = ""  as described in README and referring to PR 73 (https://github.com/MaxDesiatov/XMLCoder/pull/73).  The issue I'm having is that when re-encoding to JSON, it does not work anymore. Reverting to 0.8.0 just make it (encoding) work magicall

[2022-03-10 12:57] henkvanderspek opened #237 "XMLChoiceCodingKey In conjunction with an attribute"
Hi, great library. Many thanks 🙌
One thing I can't get to work. A choice element with support for an attribute. If I add an attribute to the choice and the xml, it's always ignored by the decoder.

[code]

[2022-03-10 17:09] henkvanderspek commented on #237
Never mind. I looked at the wrong level for the property 🤦

[2022-03-10 17:09] #237 closed

[2022-03-30 00:20] kamcma opened #238 "XMLDecoder.DateDecodingStrategy commented and actual default do not match"
A couple of the `XMLDecoder.DateDecodingStrategy` cases describe themselves as the default:

https://github.com/CoreOffice/XMLCoder/blob/394ddf67af04d2221735fa67ea0a374f3473ddf6/Sources/XMLCoder/Decoder/XMLDecoder.swift#L17-L23

The actual default is `.secondsSince1970`:
https://github.com/CoreOffice/XMLCoder/blob/394ddf67af04d2221735fa67ea0a374f3473ddf6/Sources/XMLCoder/Decoder/XMLDecoder.swift#L

[2022-06-18 03:00] Joebayld opened #241 "Error thrown when decoding multiple attributes"
Does this library support multiple attributes?

Decoding something like this throws an error.
[code]

The error thrown is `"Error Domain=NSXMLParserErrorDomain Code=111 "(null)""`

Any ideas?

[2022-07-28 01:46] kamcma opened #243 "Decoding 3rd party Codable data structures"
Was having trouble decoding into `IdentifiedArray`, a data structure from @pointfreeco. It conforms to `Codable`. Came up with the following minimal reproduction:
[code]
I would expect both tests to pass. The vanilla array decoding does pass, but the `IdentifiedArray` decoding throws the following:
[code]
Had a little trouble understanding `XMLCoder`'s internals, but did notice that it extends a f

[2022-07-31 17:04] MaxDesiatov commented on #243
@kamcma I've renamed to protocol to `XMLDecodableSequence` and made it public in #244, does that resolve your issue?

[2022-07-31 17:20] #243 closed

[2022-07-31 18:32] kamcma commented on #243
It does. Thanks.

[2022-07-31 18:48] MaxDesiatov commented on #243
Great, I've tagged 0.14.0, which includes this change. Thanks for reporting the issue!

[2022-08-25 06:51] Joannis opened #247 "Support Decoding from String"
See comments in #246

[2022-08-25 16:18] MaxDesiatov opened #248 "Test error context feature independently from Swift version"
This test output seemed to be pretty stable up to this point, and I haven't found a different way to test the error context functionality end-to-end without being exposed to these caveats with how Foundation handle this.

_Originally posted by @MaxDesiatov in https://github.com/CoreOffice/XMLCoder/pull/245#discussion_r954033736_

[2022-09-05 15:49] Rufy86 opened #249 "This framework really works? keyNotFound"
I'm try to decode an XML returned by an API. the result is an error:

Fatal error: 'try!' expression unexpectedly raised an error: Swift.DecodingError.keyNotFound(CodingKeys(stringValue: "ns2:body", intValue: nil), Swift.DecodingError.Context(codingPath: [CodingKeys(stringValue: "ns2:body", intValue: nil)], debugDescription: "No attribute or element found for key CodingKeys(stringValue: \"ns2:body

[2022-09-05 17:26] Joannis commented on #249
This should work, and is in our unit tests. Have you set `decoder.shouldProcessNamespaces = true`? That causes the namespaces to be stripped.

[2022-09-05 17:28] mflint commented on #249
Hello @Rufy86,

In your code, `ns2` is the namespace, which is different from the property name. If you don't care about namespaces, then the easiest solution might be:

[code]

[2022-09-06 08:42] azhabort opened #250 "Decoding attribute and element with same name but different values"
Hello!
@MaxDesiatov thanks for this great tool.

Is it possible to decode object with attribute and child element with same name but different values?
For example xml:
[code]

[2022-09-07 15:14] Rufy86 commented on #249
thank you very much for the answer but I've still problems
this is a piece oaf my xml
`<?xml version="1.0" encoding="utf-8" ?>
<ns2:body xmlns:ns2="http://www.jaapp.it">
	<airportlist>
		<hash>F12887A97073B98718174A8AFCDE5F65</hash>
		<changed>true</changed>
		<airports>
			<airport>
				<id>AAL_APT_0001</id><code>AAL</code>
				<name>Int</name>
				<citycode>AAL</citycode>
				<city>Aalborg</city

[2022-09-13 11:12] Joannis commented on #249
@Rufy86 are you expecting the whole hierarchy of XML inside that String? Because if so, that's not how XMLCoder was designed. Each XML element or attribute is decoded into it's own codable key/value. So you'll need to model your Codable type to match the expectations in XML.

[2022-09-13 11:12] Joannis commented on #250
Hey @azhabort you should be able to use an array for this.

[2022-10-03 07:11] alexsteinerde opened #251 "Issue when parsing large files"
I'm having issues with parsing large files with more than 10MB on Linux (Docker).
I researched the topic after finding out it occurs only with Data larger than 10MB.
It seems like the libxml2 has a limit of 10_000_000 bytes hardcoded to prevent buffer overflows (XML_MAX_TEXT_LENGTH).
But in my case, I would like to override this.
The proposed solution is to pass an additional parameter (XML_PARSE_

[2022-10-03 10:38] mflint commented on #251
I don't know if it's possible - or even advisable - to increase that buffer size.

For large files, personally I'd start to investigate using a SAX parser, rather than a DOM parser.

[2022-10-17 15:24] SwapnilNighot commented on #241
did you manage to resolve this issue ? I am also facing the same issue.

[2022-10-18 06:39] Joannis commented on #251
I haven't needed this yet, but XMLCoder does interact with FoundationXML rather than libxml2. I'm not aware of any options like this (yet). Regardless, I have to agree with @mflint here. It's unwise aadd very large files in this type of parser. I have discussed swapping out the parser under the hood, and/or supporting other parsing methods. But so far the other maintainers weren't fond.

[2022-11-03 18:31] bfreeTax opened #252 "Add DOCTYPE tag"
I need to encode my structure and add **`DOCTYPE`** just after `xml version="1.0" ...` tag, this is the example XML:
[code]
For`xml version="1.0" ...` I use XMLHeader, but I can't find anything for "inject" `DOCTYPE`. Is that even posible ?

[2022-11-07 09:14] Joannis commented on #252
I'm not the creator - but I am an active maintainer of the library. I don't think this is currently possible, but I'll check out if we can fix that.

[2022-11-08 13:23] Joannis commented on #252
Hey @bfreeTax, I've added a draft PR that should work for you. I've yet to add tests, before reviewing & merging it. At least you have something to try out for now.

[2022-11-08 16:53] bfreeTax commented on #252
Hey @Joannis tested and works perfect!! Thanks for taking the time!

[2022-11-14 01:41] Jason-Abbott commented on #241
Running into the same decoding this little guy
[code]

`error: -[CitationStyleLanguageTests.InfoXMLTests testCategoryDecode] : failed: caught error: "Error Domain=NSXMLParserErrorDomain Code=111 "(null)”`

[2022-11-14 01:50] Jason-Abbott commented on #241
FWIW, tried this and got same result
[code]

[2022-11-16 17:34] Jason-Abbott commented on #241
FWIW, I thought I had this issue, to the point that I forked the project and began adding a test to find the problem. But the test passed—lots of attributes, all good. So I pasted my XML into the test and it failed.

It turned out I had an extraneous comma (,) between a couple elements.

With that sorted, my current project is parsing elements with dozens of attributes and child elements, no probl

[2022-11-16 21:40] Joannis commented on #241
I'll leave this open for a bit for @SwapnilNighot . Let me know what the current status is. If it becomes stale for another month or so I'll close it.

[2022-11-16 21:59] #252 closed